<%= form_for(dining_table) do |f| %>
  <% if dining_table.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% dining_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :number, "Número" %>
    <%= f.text_field :number %>
    
  </div>

  <div class="input-field">

    <%= f.label :beacon %>
    <%= f.text_field :beacon %>
    
  </div>



</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn",target:"_self" %>
    <%= link_to "Voltar", dining_tables_path, class:"btn",target:"_self" %>
  </div>
<% end %>
