<h1 class="center-align"><b>Comandas Mesa <%= @dining_table %></b></h1>

<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Número</th>
    <th>Tipo</th>
    <th>Entrega</th>
    <th>Paga</th>
    <th>Total</th>
  </tr>
  </thead>

  <tbody>
  <% @comandas.each do |comanda| %>
      <tr>
        <td><%= link_to comanda ,comanda %></td>
        <td><%= comanda.tipo %></td>
        <td><%= comanda.entrega == true ? "SIM" : "NÃO" %></td>
        <td><%= comanda.status == true ? "SIM" : "NÃO" %></td>
        <td><%= number_to_currency(comanda.product_orders.sum(&:value), unit: "R$ ", separator: ",", delimiter: ".") %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to '+ Cadastrar', new_comanda_path(table: @dining_table.id), class:"btn" %>
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Unificar Comandas</a>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Escolha a Comanda que receberá os pedidos</h4>
    <%= form_tag(unificar_comandas_dining_table_path(@dining_table), method: :get) do  %>
        <div class="input">
          <%= label :comanda, "Comanda" %>
          <%= select_tag :comanda, options_for_select(@comandas.sort_by{|a| a.id}),{class:"select2 browser-default " }%>
        </div>
        <br>
        <%= submit_tag "Unificar", class:"modal-action modal-close  btn " %>
    <% end %>
  </div>
</div>
