<div class="row">
  <h1 class="center-align">Mesas</h1>
</div>
<div ng-controller="GarconChamadasController">
  <%= render :partial => '/garcon/top_icons' %>
</div>
<div class="row">
  <% @dining_tables.each do |t| %>
      <% cor = t.comandas.where.not(status: true).count > 0 ? "red" : "green" %>
      <%= link_to comandas_dining_table_path(t) do %>
        <div class="col s4 l2 center-align">
          <div class="card" style="background: url(white-bg.jpg) no-repeat center center">
            <div class="card <%= cor %> darken-4 white-text">
              <b><%= t.number %></b>
            </div>
            <img  src="/images/table-48.png" alt="" >
          </div>
        </div>
      <% end %>
  <% end %>
</div>