<h1 class="center-align"><b>Mesas</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ Cadastrar', new_dining_table_path, class:"btn", target: "_self" %>
<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Número</th>
    <th>Beacon</th>
    <th>Ocupada</th>
  </tr>
  </thead>

  <tbody>
  <% @dining_tables.each do |dining_table| %>
      <tr>

        <td><%= link_to dining_table.number,dining_table %></td>
        <td><%= dining_table.beacon %></td>
        <td><%= dining_table.status == true ? "SIM" : "NÃO" %></td>
        <td><%= link_to 'Excluir', dining_table, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@dining_tables)  %>
</div>

<%= link_to '+ Cadastrar', new_dining_table_path, class:"btn", target: "_self" %>
