<h1 class="center-align"><b>Mesa</b></h1>
<div class="card-panel">
	
<p>
  <strong>Número:</strong>
  <%= @dining_table.number %>
</p>

<p>
  <strong>Beacon:</strong>
  <%= @dining_table.beacon %>
</p>



</div>
<%= link_to 'Voltar', dining_tables_path, class:"btn",target:"_self" %>
