<div>
  <%= form_for(provider) do |f| %>
      <% if provider.errors.any? %>
          <div id="error_explanation" class="card-panel red white-text">
            <h5>Resolva os problemas a seguir antes de Salvar:</h5>

            <ul>
              <% provider.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="card-panel">
        <div class="input">
          <strong>CPF/CNPJ:</strong> <br>
          <%= f.text_field :inscricao %>

        </div>


        <div class="input-field">

          <%= f.label :name, "Nome" %>
          <%= f.text_field :name %>

        </div>



        <div class="input-field">

          <%= f.label :inscricao_estadual %>
          <%= f.text_field :inscricao_estadual %>

        </div>

        <div class="input-field">

          <%= f.label :nome_fantasia %>
          <%= f.text_field :nome_fantasia %>

        </div>

        <div class="input-field">

          <%= f.label :cep %>
          <%= f.text_field :cep %>

        </div>

        <div class="input-field">

          <%= f.label :endereco %>
          <%= f.text_field :endereco %>

        </div>

        <div class="input-field">

          <%= f.label :numero %>
          <%= f.text_field :numero %>

        </div>

        <div class="input-field">

          <%= f.label :complemento %>
          <%= f.text_field :complemento %>

        </div>

        <div class="input-field">

          <%= f.label :bairro %>
          <%= f.text_field :bairro %>

        </div>

        <div class="input-field">

          <%= f.label :cidade %>
          <%= f.text_field :cidade %>

        </div>

        <div class="input-field">

          <%= f.label :estado %>
          <%= f.text_field :estado %>

        </div>

        <div class="input-field">

          <%= f.label :email %>
          <%= f.text_field :email %>

        </div>

        <div class="input-field">

          <%= f.label :observacoes %>
          <%= f.text_field :observacoes %>

        </div>

        <div class="input-field">

          <%= f.label :telefones %>
          <%= f.text_field :telefones %>

        </div>

        <div class="input-field">

          <%= f.label :site %>
          <%= f.text_field :site %>

        </div>

        <div class="input-field">


          <%= f.check_box :ativo %>
          <%= f.label :ativo %>
        </div>

      </div>
      <div class="actions">
        <%= f.submit "Salvar", class:"btn" %>
      </div>
  <% end %>
</div>