<div ng-controller="ProposalFormController" ng-init="cpf= '<%= @provider.inscricao %>'; nome = '<%= @provider.name %>';
alias = '<%= @provider.nome_fantasia %>'; cep = '<%= @provider.cep %>'; endereco = '<%= @provider.endereco %>';
complemento = '<%= @provider.complemento %>'; bairro = '<%= @provider.bairro %>'; cidade = '<%= @provider.cidade %>';
estado = '<%= @provider.estado %>' ">
<%= form_for(provider) do |f| %>
  <% if provider.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  <div ng-init="inscricao= '<%= @provider.inscricao %>' "></div>
  <div class="input">
    <strong>CPF/CNPJ:</strong> <br>
    <%= f.text_field :inscricao, "ng-model": "cpf" %>
    <% if @provider.new_record? %>
      <div ng-show="cpf_error" class="red-text">
        CPF/CNPJ inválido, corrija e tente novamente.
      </div>
      <div class="btn right" ng-click="check_cpf()" ng-show="quering">Pesquisar</div>
    <% end %>
  </div>


  <div class="input-field">

    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, "ng-model": "nome"  %>
    
  </div>



  <div class="input-field">

    <%= f.label :inscricao_estadual %>
    <%= f.text_field :inscricao_estadual %>
    
  </div>

  <div class="input-field">

    <%= f.label :nome_fantasia %>
    <%= f.text_field :nome_fantasia, "ng-model": "alias" %>
    
  </div>

  <div class="input-field">
    <div class="row">
      <div class="col s10">
        <%= f.label :cep %>
        <%= f.text_field :cep, "ng-model": "cep", id:"cep" %>
      </div>
      <div class="col s2">
        <a href="#" ng-click="busca_endereco()" class="btn">Pesquisar</a>
      </div>
    </div>
    
  </div>

  <div class="input-field">

    <%= f.label :endereco, "Endereço" %>
    <%= f.text_field :endereco, "ng-model": "endereco" %>
    
  </div>

  <div class="input-field">

    <%= f.label :numero, "Número" %>
    <%= f.text_field :numero, "ng-model": "numero" %>

  </div>

  <div class="input-field">

    <%= f.label :complemento %>
    <%= f.text_field :complemento, "ng-model": "complemento" %>

  </div>

  <div class="input-field">

    <%= f.label :bairro %>
    <%= f.text_field :bairro, "ng-model": "bairro" %>
    
  </div>

  <div class="input-field">

    <%= f.label :cidade %>
    <%= f.text_field :cidade, "ng-model": "cidade" %>
    
  </div>

  <div class="input-field">

    <%= f.label :estado %>
    <%= f.text_field :estado, "ng-model": "estado" %>
    
  </div>

  <div class="input-field">

    <%= f.label :email %>
    <%= f.text_field :email %>
    
  </div>

  <div class="input-field">

    <%= f.label :observacoes, "Observações" %>
    <%= f.text_field :observacoes %>
    
  </div>

  <div class="input-field">

    <%= f.label :telefones, "Telefone" %>
    <%= f.text_field :telefones, class:"telefone" %>
    
  </div>

  <div class="input-field">

    <%= f.label :site %>
    <%= f.text_field :site %>
    
  </div>

  <div class="input-field">


    <%= f.check_box :ativo %>
    <%= f.label :ativo %>
  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn",target:"_self" %>
    <%= link_to "Voltar", providers_path, class:"btn", target: "_self" %>
  </div>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
    function initialize_autocomplete(input) {
        var autocomplete = new google.maps.places.Autocomplete(input);
    }

    $(document).on('nested:fieldAdded', function(event){
        // this field was just inserted into your form
        var field = event.field;
        // it's a jQuery object already! Now you can find date input
        var placeField = field.find('.place_field');
        var phoneField = field.find('.phone-field');
        $.each(
            placeField,
            function(index, field){
                initialize_autocomplete(field)
            }
        );

        phoneField.inputmask({
            mask: ["(99) 9999-9999", "(99) 99999-9999"]
        });
    })
</script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $(".telefone").inputmask({mask:["(99) 9999-9999", "(99) 99999-9999"]});
    });
</script>