<h1 class="center-align"><b>Fornecedores</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%= f.text_field :name_or_inscricao_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ Cadastrar', new_provider_path, class:"btn", target: "_self" %>
<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Inscrição</th>
    <th>Inscrição estadual</th>
    <th>Nome fantasia</th>
    <th>Email</th>
    <th>Telefones</th>
    <th>Ativo</th>
  </tr>
  </thead>

  <tbody>
  <% @providers.each do |provider| %>
      <tr>

        <td><%= link_to provider.name,provider %></td>
        <td><%= provider.inscricao %></td>
        <td><%= provider.inscricao_estadual %></td>
        <td><%= provider.nome_fantasia %></td>
        <td><%= provider.email %></td>
        <td><%= provider.telefones %></td>
        <td><%= provider.ativo == true ? "SIM" : "NÃO" %></td>
        <td><%= link_to 'Excluir', provider, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@providers)  %>
</div>

<%= link_to '+ Cadastrar', new_provider_path, class:"btn", target: "_self" %>
