<h1 class="center-align"><b>Fornecedor</b></h1>
<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Inscrição:</strong>
  <%= @provider.inscricao %>
</p>

<p>
  <strong>Inscrição estadual:</strong>
  <%= @provider.inscricao_estadual %>
</p>

<p>
  <strong>Nome fantasia:</strong>
  <%= @provider.nome_fantasia %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @provider.cep %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @provider.endereco %> <%= @provider.numero.present? ? ", #{@provider.numero}" : "" %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @provider.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @provider.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @provider.estado %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @provider.observacoes %>
</p>

<p>
  <strong>Telefones:</strong>
  <%= @provider.telefones %>
</p>

<p>
  <strong>Site:</strong>
  <%= @provider.site %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @provider.ativo %>
</p>

</div>
<%= link_to 'Voltar', providers_path, class:"btn",target:"_self" %>
