<h4 class="center">Últimas Impressões</h4>
<table class="card stiped">
  <thead>
    <th>Título</th>
    <th>Envio</th>
    <th>Atualizado</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.create_time %></td>
        <td><%= job.update_time %></td>
        <td><%= t(job.status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>