<div class="card-panel">
	
<p>
  <strong>Phone:</strong>
  <%= @client_phone.phone %>
</p>

<p>
  <strong>Client:</strong>
  <%= @client_phone.client %>
</p>

</div>
<%= link_to 'Voltar', client_phones_path, class:"btn" %>
