<div class="card">  
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Flavor</th>
            <th>Product size</th>
            <th>Value</th>
            <th>Active</th>
          </tr>
  </thead>

  <tbody>
    <% @flavor_sizes.each do |flavor_size| %>
    <tr>
              
          <td><%= link_to flavor_size.flavor,flavor_size %></td>
        
              

          <td><%= flavor_size.product_size %></td>
        
              

          <td><%= flavor_size.value %></td>
        
              

          <td><%= flavor_size.active %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@flavor_sizes)  %>
</div>

<%= link_to '+ Cadastrar', new_flavor_size_path, class:"btn" %>
