<div class="card-panel">
	
<p>
  <strong>Flavor:</strong>
  <%= @flavor_size.flavor %>
</p>

<p>
  <strong>Product size:</strong>
  <%= @flavor_size.product_size %>
</p>

<p>
  <strong>Value:</strong>
  <%= @flavor_size.value %>
</p>

<p>
  <strong>Active:</strong>
  <%= @flavor_size.active %>
</p>

</div>
<%= link_to 'Voltar', flavor_sizes_path, class:"btn" %>
