<h1 class="center-align"><b>Couvert Artístico</b></h1>
<%= form_for(couvert) do |f| %>
  <% if couvert.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% couvert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
    
  </div>

  <div class="input-field">

    <%= f.label :value, "Valor" %>
    <%= f.text_field :value %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
