<h1 class="center-align"><b>Couvert Artístico</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Nome</th>
            <th>Valor</th>
          </tr>
  </thead>

  <tbody>
    <% @couverts.each do |couvert| %>
    <tr>
              
          <td><%= link_to couvert.name,couvert %></td>
        
              

          <td><%= couvert.value %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@couverts)  %>
</div>

<%= link_to '+ Cadastrar', new_couvert_path, class:"btn" %>
