<div class="card-panel">
	
<p>
  <strong>Name:</strong>
  <%= @couvert.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @couvert.value %>
</p>

</div>
<%= link_to 'Voltar', couverts_path, class:"btn" %>
