<%= form_for(employee) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
    
  </div>

  <div class="input-field">

    <%= f.label :address, "Endereço" %>
    <%= f.text_field :address %>
    
  </div>

  <div class="input-field">

    <%= f.label :pis %>
    <%= f.text_field :pis %>
    
  </div>

  <div class="input-field">

    <%= f.label :phone, "Telefone" %>
    <%= f.text_field :phone, class:"telefone" %>
    
  </div>

  <div class="input-field">

    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
    
  </div>

  <!--<div class="input-field">

    <%#= f.label :rg %>
    <%#= f.text_field :rg %>

  </div>-->

  <div class="input-field">
    <%= f.label :hiring_date, "Contratação" %>
    <%= f.date_field :hiring_date, class:"datepicker" %>
  </div>

  <div class="input-field">

    <%= f.label :demission_date, "Demissão" %>
    <%= f.date_field :demission_date, class:"datepicker" %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn",target:"_self" %>
    <%= link_to "Voltar", employees_path, class:"btn",target:"_self" %>
  </div>
<% end %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $(".telefone").mask("(99) 99999-999?9");
    });
</script>
