<h4 style="text-align: center">VALE</h4>
<p>
  Funcionário: <%= @pagamento.employee %>
</p>
<p>CPF: <%= @pagamento.employee.cpf %></p>
<p>Valor: <%= number_to_currency(@pagamento.value, unit: "R$ ", separator: ",", delimiter: ".") %></p>
<p>Observação: <%= @pagamento.note %></p>
<p>Data: <%= @pagamento.data %></p>
<div style="height: 50px"></div>
<hr>
<p style="text-align: center">Assinatura</p>



<div style="height: 100px"></div>
<hr>

<h4 style="text-align: center">VALE</h4>
<p>
  Funcionário: <%= @pagamento.employee %>
</p>
<p>CPF: <%= @pagamento.employee.cpf %></p>
<p>Valor: <%= number_to_currency(@pagamento.value, unit: "R$ ", separator: ",", delimiter: ".") %></p>
<p>Observação: <%= @pagamento.note %></p>
<p>Data: <%= @pagamento.data %></p>
<div style="height: 50px"></div>
<hr>
<p style="text-align: center">Assinatura</p>

<script type="text/javascript" charset="utf-8">
    window.print();
    window.close();
</script>