<h1 class="center-align"><b>Funcionários</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%= f.text_field :name_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ Cadastrar', new_employee_path, class:"btn", target: "_self" %>
<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Pis</th>
    <th>Cpf</th>
    <th>Telefone</th>
    <th>Contratação</th>
    <th>Demissão</th>
  </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee| %>
      <tr>

        <td><%= link_to employee.name,employee, target:"_self" %></td>
        <td><%= employee.pis %></td>
        <td><%= employee.cpf %></td>
        <td><%= employee.phone %></td>

        <td><%= employee.hiring_date %></td>
        <td><%= employee.demission_date %></td>
        <td><%= link_to 'Excluir', employee, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@employees)  %>
</div>

<%= link_to '+ Cadastrar', new_employee_path, class:"btn", target: "_self" %>
