<div class="card-panel">

  <div class="row">
    <p>
      <strong>Nome:</strong>
      <%= @employee.name %>
    </p>
  </div>

  <div class="row">
    <div class="col s4">
      <p>
        <strong>Pis:</strong>
        <%= @employee.pis %>
      </p>
    </div>
    <div class="col s4">
      <p>
        <strong>Cpf:</strong>
        <%= @employee.cpf %>
      </p>
    </div>
    <!--<div class="col s4">
      <p>
        <strong>Rg:</strong>
        <%#= @employee.rg %>
      </p>
    </div>-->
  </div>

  <p>
    <strong>Telefone:</strong>
    <%= @employee.phone %>
  </p>
  <p>
    <strong>Endereço:</strong>
    <%= @employee.address %>
  </p>

  <p>
    <strong>Contratação:</strong>
    <%= @employee.hiring_date %>
  </p>

  <p>
    <strong>Demissão:</strong>
    <%= @employee.demission_date %>
  </p>

  <div class="card">
    <div class="card-content">
      <span class="card-title"><b>Vales</b></span>
      <table>
        <tr>
          <th>Valor</th>
          <th>Observação</th>
          <th>Data</th>
        </tr>
        <% @employee.down_payments.each do |p| %>
            <tr>
              <td><%= number_to_currency(p.value, unit: "R$ ", separator: ",", delimiter: ".") %></td>
              <td><%= p.note %></td>
              <td><%= p.data %></td>
              <td>
                <a href="/employees/imprimir_adiantamento?pagamento=<%= p.id %>" class="waves-effect waves-cyan" target="_blank">
                  <i class="fa fa-print"></i>
                </a>
              </td>
              <td>
              <td><%= link_to 'Excluir', deletar_vale_employees_path(vale: p.id) %></td>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
    <a href="" onclick="open_modal('adiantamento');" class="btn">Vale</a>
    </a>
  </div>

  <div id="adiantamento" class="modal">
    <div class="modal-content">
      <h4>Novo Vale</h4>
      <%= form_tag(adiantamento_employee_path(@employee), method: :get) do  %>
          <div class="input">
            <%= label :valor, "Valor" %>
            <%= text_field_tag :valor%>

          </div>
          <div class="input">
            <%= label :note, "Observação" %>
            <%= text_field_tag :note%>

          </div>
          <div class="input-field">
            <%= label :data, "Data" %>
            <%= date_field_tag :data,{}, {class:"datepicker"}%>

          </div>
          <br>
          <%= submit_tag "Salvar", class:"modal-action modal-close  btn " %>
      <% end %>
    </div>
  </div>

</div>
<%= link_to 'Voltar', employees_path, class:"btn",target:"_self" %>
<script type="text/javascript">
    function open_modal(id)
    {
        $("#"+id).openModal();
    }


</script>