<h1 class="center-align"><b>Produtos de Saída</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%= f.text_field :name_or_product_name_or_description_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ Cadastrar', new_flavor_path, class:"btn", target:"_self" %>
<table class="card striped responsive-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Tamanho</th>
      <th>É Adicional?</th>
    </tr>
  </thead>

  <tbody>
    <% @flavors.each do |flavor| %>
    <tr>
      <td><%= link_to flavor.name,flavor %></td>
      <td><%= flavor.product %></td>
      <td><%= flavor.flavor_size.present? ? flavor.flavor_size : "" %></td>
      <td><%= flavor.extra.present? ? "SIM" : "NÃO" %></td>
      <td><%= flavor.description %></td>
      <td><%= link_to 'Excluir', flavor, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@flavors)  %>
</div>

<%= link_to '+ Cadastrar', new_flavor_path, class:"btn", target:"_self" %>
