<h1 class="center-align"><b>Produto de Entrada</b></h1>
<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @flavor.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @flavor.description %>
</p>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Composição</span>
      <table>
        <tr>
          <th>Produto de Entrada</th>
          <th>Quantidade</th>
          <th>Unidade</th>
        </tr>
        <% @flavor.ingredient_flavors.each do |e| %>
            <tr>
              <td><%= e.ingredient %></td>
              <td><%= e.quantity %></td>
              <td><%= e.ingredient.measure %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>
<%= link_to 'Voltar', flavors_path, class:"btn",target:"_self" %>
