<%= form_for(product_order) do |f| %>
  <% if product_order.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% product_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">
    <%= f.collection_select :order_id, Order.all, :id, :name, prompt: true  %>
    
  </div>

  <div class="input-field">

    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
    
  </div>

  <div class="input-field">

    <%= f.label :note %>
    <%= f.text_field :note %>
    
  </div>

  <div class="input-field">

    <%= f.label :status %>
    <%= f.text_field :status %>
    
  </div>

  <div class="input-field">

    <%= f.label :value %>
    <%= f.text_field :value %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
