Mesa: <%= @product_order.dining_table %>
<br><br>

<%= "#{@product_order.flavor_size}" %> <br>
Quantidade: <%= @product_order.quantity %> <br>
<% @product_order.flavor_orders.each do |s| %>
 * - <%= s.flavor_size.flavor %> <br>
<% end %>
<br><br>
Adicionais
<br>
<% @product_order.pedido_extras.each do |s| %>
    * - <%= s.extra.flavor %> <br>
<% end %>
<br><br>
Observacoes
<br>
<%= @product_order.note %>