<div class="card">  
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Order</th>
            <th>Quantity</th>
            <th>Note</th>
            <th>Status</th>
            <th>Value</th>
          </tr>
  </thead>

  <tbody>
    <% @product_orders.each do |product_order| %>
    <tr>
              
          <td><%= link_to product_order.order,product_order %></td>
        
              

          <td><%= product_order.quantity %></td>
        
              

          <td><%= product_order.note %></td>
        
              

          <td><%= product_order.status %></td>
        
              

          <td><%= product_order.value %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@product_orders)  %>
</div>

<%= link_to '+ Cadastrar', new_product_order_path, class:"btn" %>
