<div class="card-panel">
	
<p>
  <strong>Order:</strong>
  <%= @product_order.order %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product_order.quantity %>
</p>

<p>
  <strong>Note:</strong>
  <%= @product_order.note %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product_order.status %>
</p>

<p>
  <strong>Value:</strong>
  <%= @product_order.value %>
</p>

</div>
<%= link_to 'Voltar', product_orders_path, class:"btn" %>
