
<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Parametro</th>
            <th>Valor</th>
          </tr>
  </thead>

  <tbody>
    <% @configurations.each do |configuration| %>
    <tr>
              
          <td><%= link_to configuration.key,configuration %></td>
        
              

          <td><%= configuration.value %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@configurations)  %>
</div>

<%= link_to '+ Cadastrar', new_configuration_path, class:"btn" %>
