<div class="card-panel">
	
<p>
  <strong>Key:</strong>
  <%= @configuration.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @configuration.value %>
</p>

</div>
<%= link_to 'Voltar', configurations_path, class:"btn" %>
