<div class="card">  
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Product</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity flavors</th>
            <th>Value</th>
            <th>Active</th>
          </tr>
  </thead>

  <tbody>
    <% @product_sizes.each do |product_size| %>
    <tr>
              
          <td><%= link_to product_size.product,product_size %></td>
        
              

          <td><%= product_size.name %></td>
        
              

          <td><%= product_size.description %></td>
        
              

          <td><%= product_size.quantity_flavors %></td>
        
              

          <td><%= product_size.value %></td>
        
              

          <td><%= product_size.active %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@product_sizes)  %>
</div>

<%= link_to '+ Cadastrar', new_product_size_path, class:"btn" %>
