<div class="card-panel">
	
<p>
  <strong>Product:</strong>
  <%= @product_size.product %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product_size.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_size.description %>
</p>

<p>
  <strong>Quantity flavors:</strong>
  <%= @product_size.quantity_flavors %>
</p>

<p>
  <strong>Value:</strong>
  <%= @product_size.value %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product_size.active %>
</p>

</div>
<%= link_to 'Voltar', product_sizes_path, class:"btn" %>
