<%= form_for(user) do |f| %>
    <% if user.errors.any? %>
        <div id="error_explanation" class="card-panel red white-text">
          <h5>Resolva os problemas a seguir antes de Salvar:</h5>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="card-panel">

      <div class="input-field">

        <%= f.label :name, "Nome" %>
        <%= f.text_field :name %>

      </div>

      <div class="input-field">
        <%= f.label :email %>
        <%= f.email_field :email %>

      </div>

      <div class="input-field">

        <%= f.select :role, @perfis %>
        <%= f.label :role, "Perfil" %>
      </div>

    </div>
    <div class="actions">
      <%= f.submit "Salvar", class:"btn",target:"_self" %>
    </div>
<% end %>
