<h1 class="center-align"><b>Usuários</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%= f.text_field :name_or_role_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Perfil</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>

        <td><%= link_to user.name,user %></td>
        <td><%= user.email %></td>
        <td><%= user.role  %></td>
        <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@users)  %>
</div>


