<h1 class="center-align"><b>Usuários</b></h1>
<div class="card-panel">

  <p>
    <strong>Nome:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>E-mail:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Perfil:</strong>
    <%= @user.role %>
  </p>

</div>
<%= link_to 'Voltar', users_path, class:"btn",target:"_self" %>