<div ng-controller="clientController" ng-init="cpf= '<%= @client.cpf_cnpj %>'; nome = '<%= @client.nome %>';
alias = '<%= @client.nome_fantasia %>'; cep = '<%= @client.cep %>'; endereco = '<%= @client.endereco %>';
complemento = '<%= @client.complemento %>'; bairro = '<%= @client.bairro %>'; cidade = '<%= @client.cidade %>';
estado = '<%= @client.estado %>' ">

<%= nested_form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="card-panel">

  <div class="input">
    <strong>CPF/CNPJ:</strong> <br>
    <%= f.text_field :cpf_cnpj, "ng-model": "cpf" %>
    <% if @client.new_record? %>
        <div ng-show="cpf_error" class="red-text">
          CPF/CNPJ inválido, corrija e tente novamente.
        </div>
        <div class="btn right" ng-click="check_cpf()" ng-show="quering">Pesquisar</div>
    <% end %>
  </div>
  
  <div class="input-field">

    <%= f.label :nome %>
    <%= f.text_field :nome, "ng-model": "nome"  %>
    
  </div>


  <div class="input-field">

    <%= f.label :inscricao_estadual, "Inscrição Estadual" %>
    <%= f.text_field :inscricao_estadual %>
    
  </div>

  <div class="input-field">

    <%= f.label :nome_fantasia %>
    <%= f.text_field :nome_fantasia, "ng-model": "alias" %>
    
  </div>

  <div class="input-field">
    <div class="row">
      <div class="col s10">
        <%= f.label :cep %>
        <%= f.text_field :cep, "ng-model": "cep", id:"cep" %>
      </div>
      <div class="col s2">
        <a href="#" ng-click="busca_endereco()" class="btn">Pesquisar</a>
      </div>
    </div>
    
  </div>

  <div class="input-field">

    <%= f.label :endereco, "Endereço" %>
    <%= f.text_field :endereco, "ng-model": "endereco" %>
    
  </div>

  <div class="input-field">

    <%= f.label :complemento %>
    <%= f.text_field :complemento, "ng-model": "complemento" %>

  </div>

  <div class="input-field">

    <%= f.label :bairro %>
    <%= f.text_field :bairro, "ng-model": "bairro" %>
    
  </div>



  <div class="input-field">

    <%= f.label :cidade %>
    <%= f.text_field :cidade, "ng-model": "cidade" %>
    
  </div>

  <div class="input-field">

    <%= f.label :estado %>
    <%= f.text_field :estado, "ng-model": "estado" %>
    
  </div>

  <div class="input-field">

    <%= f.label :email %>
    <%= f.text_field :email %>
    
  </div>

  <div class="input-field">

    <%= f.label :observacoes, "Observações" %>
    <%= f.text_field :observacoes %>
    
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Telefones</span>
      <%= f.fields_for :client_phones do |fo| %>
          <div class="row">
            <div class="col s6">
              <%= fo.label :phone, "Número" %>
              <%= fo.text_field :phone, class: "telefone" %>
            </div>
            <div class="col s2">
              <%= fo.link_to_remove "Remover" %>
            </div>
          </div>
          <script type="text/javascript" charset="utf-8">
              $(document).ready(function(){
                  $(".telefone").inputmask({mask:["(99) 9999-9999", "(99) 99999-9999"]});
              });
          </script>
      <% end %>
    </div>
    <div class="card-action">
      <p><%= f.link_to_add "Novo Telefone", :client_phones %></p>
    </div>

  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Pagamentos</span>
      <%= f.fields_for :client_payments do |fo| %>
          <div class="row">
            <div class="col s6">
              <%= fo.label :value, "Valor" %>
              <%= fo.text_field :value %>
            </div>
            <div class="col s2">
              <%= fo.link_to_remove "Remover" %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="card-action">
      <p><%= f.link_to_add "Novo Pagamento", :client_payments %></p>
    </div>

  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn",target:"_self" %>
    <%= link_to "Voltar", clients_path, class:"btn",target:"_self" %>
  </div>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
     $("#cep").mask("99999-999");
  });
</script>