<div >
  <%= nested_form_for(client) do |f| %>
      <% if client.errors.any? %>
          <div id="error_explanation" class="card-panel red white-text">
            <h5>Resolva os problemas a seguir antes de Salvar:</h5>

            <ul>
              <% client.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="card-panel">

        <div class="input">
          <strong>CPF/CNPJ:</strong> <br>
          <%= f.text_field :cpf_cnpj %>
        </div>

        <div class="input-field">

          <%= f.label :nome %>
          <%= f.text_field :nome  %>

        </div>


        <div class="input-field">

          <%= f.label :inscricao_estadual, "Inscrição Estadual" %>
          <%= f.text_field :inscricao_estadual %>

        </div>

        <div class="input-field">

          <%= f.label :nome_fantasia %>
          <%= f.text_field :nome_fantasia %>

        </div>

        <div class="input-field">

          <%= f.label :cep %>
          <%= f.text_field :cep %>

        </div>

        <div class="input-field">

          <%= f.label :endereco, "Endereço" %>
          <%= f.text_field :endereco %>

        </div>

        <div class="input-field">

          <%= f.label :complemento %>
          <%= f.text_field :complemento %>

        </div>

        <div class="input-field">

          <%= f.label :bairro %>
          <%= f.text_field :bairro %>

        </div>



        <div class="input-field">

          <%= f.label :cidade %>
          <%= f.text_field :cidade %>

        </div>

        <div class="input-field">

          <%= f.label :estado %>
          <%= f.text_field :estado %>

        </div>

        <div class="input-field">

          <%= f.label :email %>
          <%= f.text_field :email %>

        </div>

        <div class="input-field">

          <%= f.label :observacoes, "Observações" %>
          <%= f.text_field :observacoes %>

        </div>

        <div class="card">
          <div class="card-content">
            <span class="card-title">Telefones</span>
            <%= f.fields_for :client_phones do |fo| %>
                <div class="row">
                  <div class="col s6">
                    <%= fo.label :phone, "Número" %>
                    <%= fo.text_field :phone %>
                  </div>
                  <div class="col s2">
                    <%= fo.link_to_remove "Remover" %>
                  </div>
                </div>
            <% end %>
          </div>
          <div class="card-action">
            <p><%= f.link_to_add "Novo Telefone", :client_phones %></p>
          </div>

        </div>

        <div class="card">
          <div class="card-content">
            <span class="card-title">Pagamentos</span>
            <%= f.fields_for :client_payments do |fo| %>
                <div class="row">
                  <div class="col s6">
                    <%= fo.label :value, "Valor" %>
                    <%= fo.text_field :value %>
                  </div>
                  <div class="col s2">
                    <%= fo.link_to_remove "Remover" %>
                  </div>
                </div>
            <% end %>
          </div>
          <div class="card-action">
            <p><%= f.link_to_add "Novo Pagamento", :client_payments %></p>
          </div>

        </div>

      </div>
      <div class="actions">
        <%= f.submit "Salvar", class:"btn" %>
      </div>
  <% end %>
</div>