Credito

Cliente: <%= @pagamento.client %>
CPF/CNPJ: <%= @pagamento.client.cpf_cnpj %>
Valor: <%= number_to_currency(@pagamento.value, unit: "R$ ", separator: ",", delimiter: ".") %>
Data: <%= @pagamento.created_at %>


__________________________________
           Assinatura

