<div class="center">RECIBO DO CREDIARIO</div>
<br>
<div class="center">Mesa <%= @pagamento.comanda.dining_table %></div>
<br>


Cliente: <%= @pagamento.client %> <br>
CPF/CNPJ: <%= @pagamento.client.cpf_cnpj %> <br>
Valor: <%= number_to_currency(@pagamento.value, unit: "R$ ", separator: ",", delimiter: ".") %> <br>
Data: <%= @pagamento.created_at %> <br>
<br><br><br>


<div class="center-align">
  __________________________________
  <br>
  Assinatura
</div>