<h1 class="center">Crediário - <%= @client %></h1>

<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">
      Pesquisa
    </span>
    <div id="pesquisa">
      <%= search_form_for @q, url: crediario_client_path(@client) do |f|  %>
          <div class="row">
            <div class="col s12 l3">
              <label >Data Inicial</label>
              <%= f.date_field :created_at_gteq, placeholder: "Data Inícial"%>
            </div>
            <div class="col s12 l3">
              <label >Data Final</label>
              <%= f.date_field :created_at_lteq, placeholder: "Data Final" %>
            </div>
          </div>
          <%= f.submit "Filtrar", class:"btn" %>
          <%= link_to "Limpar",crediario_client_path(@client), class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title"><b>Créditos</b></span>
    <table>
      <tr>
        <th>Data</th>
        <th>Valor</th>

        <td></td>
      </tr>
      <% @creditos.each do |t| %>
          <tr>
            <td><%= t.created_at.to_date %></td>
            <td><%= number_to_currency(t.value, unit: "R$ ", separator: ",", delimiter: ".") %></td>

            <td>
            </td>
          </tr>


      <% end %>
      <tr>
        <td><b>Total</b></td>
        <td><%= number_to_currency( @creditos.sum(:value), unit: "R$ ", separator: ",", delimiter: ".") %></td>
      </tr>
    </table>
  </div>
</div>