<h1 class="center-align"><b>Clientes</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%= f.text_field :nome_or_cpf_cnpj_or_inscricao_estadual_or_nome_fantasia_or_cep_or_endereco_or_email_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ Cadastrar', new_client_path, class:"btn", target:"_self" %>
<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>CPF/CNPJ</th>
    <th>Email</th>
    <th>Saldo</th>
  </tr>
  </thead>

  <tbody>
  <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.nome,client %></td>
        <td><%= client.cpf_cnpj %></td>
        <td><%= client.email %></td>
        <td><%= number_to_currency(client.saldo, unit: "R$ ", separator: ",", delimiter: ".") %></td>
        <td><%= link_to "Crediário", crediario_client_path(client) %></td>
        <td><%= link_to 'Excluir', client, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@clients)  %>
</div>

<%= link_to '+ Cadastrar', new_client_path, class:"btn", target:"_self" %>
