<h1 class="center-align"><b>Cliente</b></h1>
<div class="card-panel">

  <div class="row">
    <div class="col s6">
      <strong>Nome:</strong>
      <%= @client.nome %>
    </div>

    <div class="col s6">
      <strong>CPF/CNPJ:</strong>
      <%= @client.cpf_cnpj %>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <strong>Inscricao estadual:</strong>
      <%= @client.inscricao_estadual %>
    </div>

    <div class="col s6">
      <strong>Nome fantasia:</strong>
      <%= @client.nome_fantasia %>
    </div>

  </div>
<p>
  <strong>Cep:</strong>
  <%= @client.cep %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @client.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @client.bairro %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @client.complemento %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @client.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @client.estado %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @client.observacoes %>
</p>

  <div class="card">
    <div class="card-content">
      <span class="card-title"><b>Telefones</b></span>
      <% @client.client_phones.each do |t| %>
          <p>
            <%= t %>
          </p>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title"><b>Créditos</b></span>
      <table>
        <tr>
          <th>Valor</th>
          <th>Data</th>
          <td></td>
        </tr>
        <% @creditos.each do |t| %>
            <tr>
              <td><%= number_to_currency(t.value, unit: "R$ ", separator: ",", delimiter: ".") %></td>
              <td><%= t.created_at %></td>
              <td>
                <a href="/clients/credito.txt?pagamento=<%= t.id %>" class="waves-effect waves-cyan">
                  <i class="fa fa-print"></i>
                </a>
              </td>
            </tr>


        <% end %>
      </table>
    </div>
  </div>

  <%= nested_form_for(@client) do |f| %>
    <div class="card">
      <div class="card-content">
        <span class="card-title">Pagamentos</span>
        <%= f.fields_for :client_payments do |fo| %>
            <div class="row">
              <div class="col s6">
                <%= fo.label :value, "Valor" %>
                <%= fo.text_field :value %>
              </div>
              <% if !fo.object.new_record? %>
                <div class="col s4">
                  <strong>Data</strong><br>
                  <%= fo.object.created_at.to_date %>
                </div>
              <% end %>
              <div class="col s2">
                <%= fo.link_to_remove "Remover" %>
              </div>
            </div>
        <% end %>
      </div>
      <div class="card-action">
        <p><%= f.link_to_add "Novo Pagamento", :client_payments %></p>
      </div>
      <%= f.submit "Salvar Pagamentos", class:"btn", target:"_self" %>
    </div>
  <% end %>

  <h1><b>Saldo: <%= number_to_currency(@client.saldo, unit: "R$ ", separator: ",", delimiter: ".") %></b></h1>

</div>
<%= link_to 'Voltar', clients_path, class:"btn",target:"_self" %>
