<%= form_for(ingredient) do |f| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
    
  </div>

  <div class="input-field">

    <%= f.label :description, "Descrição" %>
    <%= f.text_field :description %>
    
  </div>

  <div class="input">

    <%= f.label :measure_id, "Unidade de Medida" %>
    <%= f.select :measure_id, @measures,{prompt:true},{class:"browser-default select2"} %>

  </div>

  <div class="input-field">

    <%= f.label :quantity, "Quantidade" %>
    <%= f.number_field :quantity, step: :any %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn", target: "_self" %>
    <%= link_to "Voltar", ingredients_path, class:"btn", target: "_self" %>
  </div>
<% end %>
