<h1 class="center-align"><b>Produtos de Entrada</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%= f.text_field :name_or_description_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ Cadastrar', new_ingredient_path, class:"btn", target: "_self" %>
<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Quantidade</th>
    <th>Unidade</th>
  </tr>
  </thead>

  <tbody>
  <% @ingredients.each do |ingredient| %>
      <tr>

        <td><%= link_to ingredient.name,ingredient %></td>
        <td><%= ingredient.description %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= ingredient.measure %></td>
        <td><%= link_to 'Excluir', ingredient, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@ingredients)  %>
</div>

<%= link_to '+ Cadastrar', new_ingredient_path, class:"btn", target: "_self" %>
