<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @ingredient.description %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @ingredient.quantity %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @ingredient.measure %>
</p>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Histórico de Entradas</span>
      <table>
        <tr>
          <th>Data</th>
          <th>Quantidade</th>
          <th>Valor</th>
        </tr>
      <% @ingredient.ingredient_entraces.each do |e| %>
          <tr>
            <td><%= e.created_at %></td>
            <td><%= e.quantity %></td>
            <td><%= number_to_currency(e.value, unit: "R$ ", separator: ",", delimiter: ".") %></td>
          </tr>
      <% end %>
      </table>
    </div>
  </div>

</div>
<%= link_to 'Voltar', ingredients_path, class:"btn", target: "_self" %>
<%= link_to 'Novo', new_ingredient_path, class:"btn", target: "_self" %>
