<%= nested_form_for(comanda) do |f| %>
  <% if comanda.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% comanda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">

  <!--<div class="input-field">
    <%#= f.collection_select :dining_table_id, DiningTable.all, :id, :name, prompt: true  %>
    
  </div>-->
  <%= f.hidden_field :dining_table_id %>

  <div class="input-field">


    <%= f.select :tipo, Comanda.tipo.options,{prompt:true} %>
    <%= f.label :tipo %>
  </div>

  <div class="input-field">


    <%= f.check_box :entrega %>
    <%= f.label :entrega %>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Pedido</span>


      <%= f.fields_for :order do |s| %>
          <div class="row">
            <div class="col s10">
              <div class="input-field">

                <%= s.select :status, Order.status.options,{prompt:true} %>
                <%= s.label :status, "Status" %>
              </div>
            </div>
            <div class="col s2">
              <%= s.link_to_remove "Remover" %>
            </div>
          </div>

      <% end %>
    </div>
    <div class="card-action">
      <p><%= f.link_to_add "Novo Pedido", :order %></p>
    </div>

  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
