<%= nested_form_for(comanda) do |f| %>
  <% if comanda.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% comanda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">

  <!--<div class="input-field">
    <%#= f.collection_select :dining_table_id, DiningTable.all, :id, :name, prompt: true  %>
    
  </div>-->
  <% if !@comanda.new_record? %>
      <div class="input">
        <%= f.label :dining_table_id, "Mesa" %>
        <%= f.select :dining_table_id, @mesas, {prompt: true},{class:"browser-default select2"} %>

      </div>
  <% else %>
    <%= f.hidden_field :dining_table_id %>
      <%= f.hidden_field :tax %>
      <%= f.hidden_field :fechada %>
  <% end %>

  <div class="input">
    <%= f.label :client_id, "Cliente" %>
    <%= f.select :client_id, @clients, {prompt: true},{class:"browser-default select2"} %>

  </div>

  <% if current_user.garcom? %>
    <%= f.hidden_field :tipo, value: :garcom %>
  <% else %>
  <div class="input-field">


    <%= f.select :tipo, Comanda.tipo.options,{prompt:true} %>
    <%= f.label :tipo %>
  </div>
  <% end %>

  <div class="input-field">


    <%= f.check_box :entrega %>
    <%= f.label :entrega %>
  </div>
  <br>
  <!--<div class="input-field">
    <%#= f.label :couvert_value, "Couvert" %>
    <%#= f.text_field :couvert_value %>

  </div>

  <div class="input-field">
    <%#= f.label :couvert_quantity, "Quantidade de Pessoas" %>
    <%#= f.text_field :couvert_quantity %>

  </div>-->
<% if !@comanda.new_record? %>
  <div class="card">
    <div class="card-content">
      <span class="card-title"><b>Pedido</b></span>


      <%= f.fields_for :orders do |s| %>
          <% if s.object.new_record? %>
              <%= s.hidden_field :user_id, value: current_user.id %>
          <% end  %>
          <div class="row">
            <div class="col s10">
              <div class="input-field">

                <%= s.select :status, Order.status.options,{prompt:true} %>
                <%= s.label :status, "Status" %>
              </div>
            </div>
            <div class="col s2">
              <%= s.link_to_remove "Remover" %>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <span class="card-title"><b>Produtos</b></span>


              <%= s.fields_for :product_orders do |p| %>
                  <% if p.object.new_record? %>
                    <%= p.hidden_field :user_id, value: current_user.id %>
                  <% end  %>
                  <div class="row">
                    <div class="col s4">
                      <%= p.label :flavor_size_id, "Produto" %>
                      <%= p.select :flavor_size_id, @flavors,{prompt:true}, {class: "browser-default chosen-select"} %>
                    </div>
                    <div class="col s2">
                      <%= p.label :quantity, "Quantidade" %>
                      <%= p.number_field :quantity, step: :any %>
                    </div>
                    <div class="input-field col s4">
                      <%= p.label :note, "Observações" %>
                      <%= p.text_field :note %>
                    </div>

                    <div class="col s2">
                      <%= p.link_to_remove "Remover" %>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-content">
                      <span class="card-title"><b>Sabores</b></span>


                      <%= p.fields_for :flavor_orders do |fo| %>
                          <div class="row">
                            <div class="col s10">
                              <div class="input">
                                <%= fo.label :flavor_size_id, "Sabor" %>
                                <%= fo.select :flavor_size_id, @sabores,{prompt:true}, {class: "browser-default select2"} %>

                              </div>
                            </div>
                            <div class="col s2">
                              <%= fo.link_to_remove "Remover" %>
                            </div>
                          </div>
                      <% end %>
                    </div>
                    <div class="card-action">
                      <p><%= p.link_to_add "Novo Sabor", :flavor_orders %></p>
                    </div>

                  </div>
              <% end %>
            </div>
            <div class="card-action">
              <p><%= s.link_to_add "Novo Produto", :product_orders %></p>
            </div>

          </div>
      <% end %>
    </div>
    <div class="card-action">
      <p><%= f.link_to_add "Novo Pedido", :orders %></p>
    </div>

  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title"><b>Pagamentos</b> <%= @comanda.order_payments.sum(:value) %>/<%= @comanda.product_orders.sum(:value) %></span>
      <%= f.fields_for :order_payments do |pay| %>
          <div class="row">
            <div class="col s4">
              <%= pay.label :payment_type_id, "Tipo" %>
              <%= pay.select :payment_type_id, @payments,{prompt:true}, {class: "browser-default select2"} %>
            </div>
            <div class="col s2">
              <%= pay.label :value, "Valor R$" %>
              <%= pay.number_field :value, step: :any %>
            </div>
            <div class="col s4">
              <%= pay.label :client_id, "Cliente" %>
              <%= pay.select :client_id, @clients,{prompt:true}, {class: "browser-default select2"} %>
            </div>
            <div class="col s2">
              <%= pay.link_to_remove "Remover" %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="card-action">
      <p><%= f.link_to_add "Novo Pagamento", :order_payments %></p>
    </div>

  </div>
<% end %>
</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn", target: "_self" %>
  </div>
<% end %>
