<% if !comanda.fechada  %>
    <li>
      <%= link_to 'Novo Pedido', novo_pedido_comanda_path(comanda), target: "_self" %>
    </li>
    <li>
      <a onclick="change_comanda('pedido_simples');">Pedido Simples</a>
    </li>
    <li>
      <%= link_to 'Fechar', fechar_comanda_path(comanda, status: true), target: "_self" %>
    </li>
<% end %>
<li>
  <a onclick="change_comanda('modal_couver');">Couvert</a>
</li>
<% if current_user.admin? || current_user.caixa? %>


    <li>
      <%= link_to 'Imprimir', imprimir_comanda_path(comanda, status: true,format: :text), target: "_blank" %>
    </li>
    <% if comanda.fechada %>
        <li>
          <%= link_to 'Reabrir', fechar_comanda_path(comanda, status:false), target: "_self" %>
        </li>
    <% end %>
    <% if comanda.tax == 0 %>
        <li>
          <%= link_to 'Taxa de Serviço', calcular_taxa_comanda_path(comanda,valor: total1), target: "_self" %>
        </li>
    <% end %>
    <% if comanda.tax > 0 %>
        <li>
          <%= link_to 'Remover Taxa de Serviço', calcular_taxa_comanda_path(comanda, no_tax: true), target: "_self"%>
        </li>
    <% end %>
    <li>
      <a onclick="change_comanda('modal_desconto');">Desconto</a>
    </li>
    <li>
      <%= link_to 'Concluir', concluir_comanda_path(comanda), target: "_self" %>
    </li>
    <% if comanda.dining_table.present? %>
        <li>
          <%= link_to 'Voltar', comandas_dining_table_path(comanda.dining_table), target:"_self"  %>
        </li>
    <% end %>
<% end %>