<h1 class="center-align"><b>Comandas</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Número</th>
    <th>Mesa</th>
    <th>Tipo</th>
    <th>Entrega</th>
    <th>Paga</th>
  </tr>
  </thead>

  <tbody>
  <% @comandas.sort_by(&:id ).reverse.each do |comanda| %>
      <tr>
        <td><%= link_to comanda,comanda %></td>
        <td><%= link_to comanda.dining_table,comanda.dining_table if comanda.dining_table.present?%></td>
        <td><%= comanda.tipo %></td>
        <td><%= comanda.entrega == true ? "SIM" : "NÃO" %></td>
        <td><%= comanda.status == true ? "SIM" : "NÃO" %></td>
        <td><%#= link_to 'Excluir', comanda, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@comandas)  %>
</div>

<%= link_to '+ Cadastrar', simples_comandas_path, class:"btn" %>
