<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" r>
      Pesquisa
    </span>
    <div id="pesquisa" >
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <div class="row">
            <div class="col s12 l3">
              <label >Data Inicial</label>
              <%= f.datetime_field :created_at_gteq, placeholder: "Data Inícial"%>
            </div>
            <div class="col s12 l3">
              <label >Data Final</label>
              <%= f.datetime_field :created_at_lteq, placeholder: "Data Final" %>
            </div>
            <div class="col s12 l3">
              <label >Tipo</label>
              <%= f.select :tipo_eq, Comanda.tipo.options,{prompt:true},{class:"browser-default"} %>
            </div>
          </div>
          <%= f.submit "Filtrar", class:"btn" %>
          <%= link_to  "Limpar", dashboard_comandas_path, class:"btn", target:"_self" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 l3">
    <%= link_to "/comandas?q%5Bstatus_eq%5D=false" do %>
    <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">event_note</i>

        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0"><%= @comandas_abertas %></h5>
          <p class="no-margin">Comandas Abertas</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col s12 l3">
    <%= link_to "/comandas?q%5Bstatus_eq%5D=true" do %>
    <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">event_note</i>

        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0"><%= @comandas_concluidas %></h5>
          <p class="no-margin">Comandas Fechadas</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col s12 l3">
    <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">attach_money</i>
          <p class="no-margin">Recebido</p>
        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0"><%= number_to_currency(@recebido, unit: "R$ ", separator: ",", delimiter: ".") %></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 l3">
    <%= link_to "/comandas?receber=#{@comandas_areceber}" do %>
    <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">attach_money</i>
          <p class="no-margin">A Receber</p>
        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0"><%= number_to_currency(@areceber, unit: "R$ ", separator: ",", delimiter: ".") %></h5>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
<div class="row">
  <div class="col s12 l3">
    <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">shopping_cart</i>
        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0"><%= @pedidos %></h5>
          <p class="no-margin">Pedidos</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">attach_money</i>
          <p class="no-margin">Taxa de Serviço</p>
        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0"><%= number_to_currency(@taxa, unit: "R$ ", separator: ",", delimiter: ".") %></h5>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><b>Mais Pedidos</b></span>
        <table class="stipred">
          <thead>
          <th>#</th>
          <th>Produto</th>
          </thead>
          <tbody>
          <% @product_orders.first(5).each_with_index do |pedido, index| %>

              <tr>
                <td><%= index + 1 %></td>
                <td><%= FlavorSize.find(pedido[0]) %></td>
              </tr>
          <% end if @product_orders%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><b>Pagamentos</b></span>
        <table class="stipred">
          <thead>
          <th>Pagamento</th>
          <th>Valor</th>
          </thead>
          <tbody>
          <% @pagamentos.group_by(&:payment_type).map do |payment_type,pagamentos| %>
              <tr>
                <td><%= payment_type %></td>
                <td><%= number_to_currency(pagamentos.sum{|a| a.value}, unit: "R$ ", separator: ",", delimiter: ".") %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>