<div style="white-space: pre-line">
  &nbsp;&nbsp;&nbsp;CANTINA BOAMASSA
  &nbsp;&nbsp;&nbsp;CNPJ: 10.734.874/0001-26
  &nbsp;&nbsp;&nbsp;602 SUL, AVENIDA LO 13
  &nbsp;&nbsp;&nbsp;TELEFONE: 63 3225-1713
  &nbsp;&nbsp;&nbsp;www.cantinaboamassa.com <br>
  &nbsp;&nbsp;&nbsp;<% if @comanda.status %>
      *** CONCLUIDA ***
  <% else %>
      *** PRE-CONTA ***
  <% end %>
  &nbsp;&nbsp;&nbsp;Mesa <%= @comanda.dining_table %>
  &nbsp;&nbsp;&nbsp;=== PEDIDOS ===
  <% @product_orders.group_by(&:flavor_size).map do |flavor_size, product_orders |  %>
      &nbsp;&nbsp;&nbsp; <%= flavor_size %>
      &nbsp;&nbsp;&nbsp; --<%= product_orders.sum(&:quantity) %> * <%= product_orders.first.value/product_orders.first.quantity %> = <%= product_orders.sum{|a| a.quantity*(a.value/a.quantity)} %>
      <br>.
  <% end %>
  &nbsp;&nbsp;&nbsp;=== ****** ===
  &nbsp;&nbsp;&nbsp;SUBTOTAL = <%= number_to_currency(total1 =  @product_orders.sum(&:value), unit: "R$ ", separator: ",", delimiter: ".") %>
  &nbsp;&nbsp;&nbsp;SERVICOS = <%= number_to_currency(total3 = @comanda.tax || 0, unit: "R$ ", separator: ",", delimiter: ".") %>
  &nbsp;&nbsp;&nbsp;COUVERT  = <%= number_to_currency(total2 = @comanda.couvert_calculado, unit: "R$ ", separator: ",", delimiter: ".") %>
     <% if @comanda.desconto.present? and @comanda.desconto > 0 %>
      &nbsp;&nbsp;&nbsp;DESCONTO  = <%= number_to_currency(@comanda.desconto, unit: "R$ ", separator: ",", delimiter: ".") %>
     <% end %>
  &nbsp;&nbsp;&nbsp;TOTAL    = <%= number_to_currency((total1+total2+total3) - (@comanda.desconto || 0 ), unit: "R$ ", separator: ",", delimiter: ".") %>
  &nbsp;&nbsp;&nbsp;=== ****** ===
  &nbsp;&nbsp;&nbsp;<%= @comanda.couvert_quantity || 1 %> PESSOA(S) * <%= number_to_currency( ((total1+total2+total3) - (@comanda.desconto || 0 ))/ (@comanda.couvert_quantity || 1), unit: "R$ ", separator: ",", delimiter: ".") %>
  &nbsp;&nbsp;&nbsp;=======================
  &nbsp;&nbsp;&nbsp;<%= Time.zone.now %>
  &nbsp;&nbsp;&nbsp;Sistema Boamassa v0.1
  &nbsp;&nbsp;&nbsp;Powered by Novostek LLC
</div>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
.
<script type="text/javascript" charset="utf-8">
    window.print();
    window.close();
</script>