
  CANTINA BOAMASSA
  CNPJ: 10.734.874/0001-26
  602 SUL, AVENIDA LO 13 LOTE 17
  TELEFONE: 63 3225-1713
  www.cantinaboamassa.com.br
  <% if @comanda.status %>
  *** CONCLUIDA ***
  <% else %>
  *** PRE-CONTA ***
  <% end %>
  <% total1 = 0
  total2 =0
  total3 = 0 %>
  MESA <%= @comanda.dining_table %>
  DATA: <%= Time.zone.now %>
  <% if @comanda.who_close.present? %>
  USUARIO: <%= "#{@comanda.user}".split(' ').first %>
  <% end %>

  === PEDIDOS ===
  <% @comanda.product_orders.where.not(status: :cancelado).group_by(&:flavor_size).map do |flavor_size, product_orders |  %>
  <%= ActiveSupport::Inflector.transliterate("#{flavor_size}".mb_chars.upcase.to_s) %>
  <%= product_orders.sum(&:quantity) %> * <%= product_orders.first.value/product_orders.first.quantity %> = <%= product_orders.sum{|a| a.quantity*(a.value/a.quantity)} %>
  <% end %>
  === ****** ===
  SUBTOTAL = <%= number_to_currency(total1 =  @comanda.product_orders.where.not(status: :cancelado).sum(&:value), unit: "R$ ", separator: ",", delimiter: ".") %>
  <% if @comanda.tax.present? and @comanda.tax > 0 %>
  SERVICOS = <%= number_to_currency(total3 = (@comanda.tax || 0), unit: "R$ ", separator: ",", delimiter: ".") %>
  <% end %>
  <% if @comanda.couvert_calculado and @comanda.couvert_calculado > 0 %>
  COUVERT  = <%= number_to_currency(total2 = @comanda.couvert_calculado, unit: "R$ ", separator: ",", delimiter: ".") %>
  <% end %>
  <% if @comanda.desconto.present? and @comanda.desconto > 0 %>
  DESCONTO = <%= number_to_currency(@comanda.desconto, unit: "R$ ", separator: ",", delimiter: ".") %>
  <% end %>
  TOTAL    = <%= number_to_currency( (total1+total2+total3) - (@comanda.desconto || 0), unit: "R$ ", separator: ",", delimiter: ".") %>
  === ****** ===
  <% if @comanda.order_payments.present? %>
  PAGAMENTOS
  <% @comanda.order_payments.each do |p| %>
  <%= p.payment_type %> - <%= number_to_currency( p.value) %>
  <% end %>
  === ****** ===
  <% end %>

  <%= @comanda.couvert_quantity || 1 %> PESSOA(S) * <%= number_to_currency( ((total1+total2+total3) - (@comanda.desconto || 0 ))/ (@comanda.couvert_quantity || 1), unit: "R$ ", separator: ",", delimiter: ".") %>

  =======================
  Sistema Boamassa v0.1
  Powered by Novostek LLC

  <% @crediarios.each do |c| %>
  Credito

  Cliente: <%= c.client %>
  CPF/CNPJ: <%= c.client.cpf_cnpj %>
  Valor: <%= number_to_currency(c.value, unit: "R$ ", separator: ",", delimiter: ".") %>
  Data: <%= c.created_at %>


  __________________________________
             Assinatura


  <% end %>
  .
  .
  .
  .
  .
  .
  .
  .
  .
  .
  .
