<div class="row">
  CANTINA BOAMASSA <br>
  CNPJ: 10.734.874/0001-26 <br>
  602 SUL, AVENIDA LO 13 LOTE 17 <br>
  TELEFONE: 63 3225-1713 <br>
</div>
<br>
<div class="row">
  <% if @comanda.status %>
      *** CONCLUIDA ***
  <% else %>
      *** PRE-CONTA ***
  <% end %>
</div>
<div class="row">
  <div class="center">
    Mesa <%= @comanda.dining_table %>
  </div>
  <div>
    Data: <%= Time.zone.now %>
  </div>
</div>
<div class="row">
  <table>
    <tr>
      <th>QTD</th>
      <th>DESCRICAO</th>
      <th>UNIT</th>
      <th>VALOR</th>
    </tr>
    <% @comanda.product_orders.where.not(status: :cancelado).group_by(&:flavor_size).map do |flavor_size, product_orders |  %>

        <tr>
          <td><%= product_orders.sum(&:quantity) %></td>
          <td><%= flavor_size %></td>
          <td><%= product_orders.first.value/product_orders.first.quantity %></td>
          <td><%= product_orders.sum{|a| a.quantity*(a.value/a.quantity)} %></td>
        </tr>
    <% end %>
  </table>
</div>
<br>
<div class="row">
  <table>
    <tr>
      <td>SUBTOTAL</td>
      <td><%= number_to_currency(total1 =  @comanda.product_orders.where.not(status: :cancelado).sum(&:value), unit: "R$ ", separator: ",", delimiter: ".") %></td>
    </tr>
    <tr>
      <td>SERVICOS</td>
      <td><%= number_to_currency(total3 = (@comanda.tax || 0), unit: "R$ ", separator: ",", delimiter: ".") %></td>
    </tr>
    <tr>
      <td>COUVERT</td>
      <td><%= number_to_currency(total2 = @comanda.couvert_calculado, unit: "R$ ", separator: ",", delimiter: ".") %></td>
    </tr>
    <% if @comanda.desconto.present? and @comanda.desconto > 0 %>
    <tr>
      <td>DESCONTO</td>

      <td><%= number_to_currency(@comanda.desconto, unit: "R$ ", separator: ",", delimiter: ".") %></td>

    </tr>
    <% end %>
    <tr>
      <td>TOTAL</td>
      <td><%= number_to_currency((total1+total2+total3) - (@comanda.desconto || 0), unit: "R$ ", separator: ",", delimiter: ".") %></td>
    </tr>
  </table>
  <br>
  <spam><b><%= @comanda.couvert_quantity || 1 %> PESSOA(S) * <%= number_to_currency( ((total1+total2+total3)- (@comanda.desconto || 0 ))/ (@comanda.couvert_quantity || 1), unit: "R$ ", separator: ",", delimiter: ".") %></b> </spam>
</div>