

  CANTINA BOAMASSA
  CNPJ: 10.734.874/0001-26
  602 SUL, AVENIDA LO 13 LOTE 17
  TELEFONE: 63 3225-1713
  www.cantinaboamassa.com.br

  *** PRÉ-CONTA ***

  MESA <%= @comanda.dining_table %>
  DATA: <%= Time.zone.now %>

  === PEDIDOS ===

  <% @product_orders.each do |product_order |  %>
  <%= "#{product_order.flavor_size}".upcase %>
  <%= product_order.quantity %> = <%= product_order.value %>


  <% end %>

  === ****** ===

  SUBTOTAL = <%= number_to_currency(total1 =  @comanda.product_orders.where.not(status: :cancelado).sum(&:value), unit: "R$ ", separator: ",", delimiter: ".") %>
  SERVIÇOS = <%= number_to_currency(total3 = (total1 * 0.1), unit: "R$ ", separator: ",", delimiter: ".") %>
  COUVERT  = <%= number_to_currency(total2 = @comanda.couvert_calculado, unit: "R$ ", separator: ",", delimiter: ".") %>
  TOTAL    = <%= number_to_currency(total1+total2+total3, unit: "R$ ", separator: ",", delimiter: ".") %>

  === ****** ===

  <%= @comanda.couvert_quantity || 1 %> PESSOA(S) * <%= number_to_currency( (total1+total2+total3)/ (@comanda.couvert_quantity || 1), unit: "R$ ", separator: ",", delimiter: ".") %>

  =======================
  Sistema Boamassa v0.1
  Powered by Novostek LLC
  .
  .
  .
  .
  .
  .
  .
  .
  .
  .
  .
