<h1 class="center-align"><b>Comandas</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" r>
      Pesquisa
    </span>
    <div id="pesquisa" >
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%= f.text_field :id_eq, placeholder: "Número" %>
      <%= f.text_field :client_nome_cont, placeholder: "Cliente" %>
          <div class="row">
            <div class="col s12 l3">
              <label >Data Inicial</label>
            <%= f.date_field :created_at_gteq, placeholder: "Data Inícial" %>
            </div>
            <div class="col s12 l3">
              <label >Data Final</label>
              <%= f.date_field :created_at_lteq, placeholder: "Data Final" %>
            </div>
            <div class="col s12 l3">
              <label >Paga</label>
              <select name="q[status_eq]" id="q_status_eq">
                <option value=""></option>
                <option value="true">SIM</option>
                <option value="false">NÂO</option>
              </select>
            </div>
          </div>
      <%= f.submit "Filtrar", class:"btn" %>
      <%= link_to  "Limpar", comandas_path, class:"btn", target:"_self" %>
      <% end %>
    </div>
  </div>
</div>
<div class="card-panel">
  <%= paginate(@comandas)  %>
</div>

<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Número</th>
    <th>Mesa</th>
    <th>Tipo</th>
    <th>Entrega</th>
    <th>Paga</th>
  </tr>
  </thead>

  <tbody>
    <% @comandas.each do |comanda| %>
      <tr>
        <td><%= link_to comanda,comanda %></td>
        <td><%= link_to comanda.dining_table,comanda.dining_table if comanda.dining_table.present?%></td>
        <td><%= comanda.tipo %></td>
        <td><%= comanda.entrega == true ? "SIM" : "NÃO" %></td>
        <td><%= comanda.status == true ? "SIM" : "NÃO" %></td>
        <td><%= link_to 'Excluir', comanda, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@comandas)  %>
</div>

<%= link_to '+ Cadastrar', new_comanda_path, class:"btn" %>
