<h5 class="center">Mesa: <%= @comanda.dining_table.number %> <br><small>Comanda: <%= @comanda.id %></small></h5>
<div ng-controller="pedidoController" ng-init="comanda = <%= @comanda.id %>">

  <div class="row card-panel">
    <div class="field">
      <label for="categorias">Categoria</label>
      <select name="categorias" ng-change="change_categoria(categoria_selecionada)"
              ng-options="x as x.name for x in categorias track by x.id"
              class="browser-default select2" id="research" ng-model="categoria_selecionada">

      </select>
    </div>
    <div class="field">
      <label for="sub-categorias">Sub-Categoria</label>
      <select name="sub-categorias" ng-change="busca_produtos()"  class="browser-default select2" ng-model="subcategoria_selecionada"
      ng-options="x as x.name for x in subcategorias track by x.id">
      </select>
    </div>
  </div>

  <br>
  <div class="row">

    <div class="col s12 l6">
      <h1>Produtos</h1>
      <div class="row" ng-repeat="p in produtos">
        <br>
        <div class="col s2">
          <img src="" class="resoibsuve-img">
        </div>
        <div class="col s4">
          {{p.sabor.name}} - {{p.tamanho.name}}
        </div>
        <div class="col s4">
          R$: {{p.valor_do_dia}}
        </div>
        <div class="col s2">
          <a ng-if="p.tamanho.quantity_flavors <= 0" class="waves-effect waves-light btn btn-floating" ng-click="insere_produto(p)"><i class="material-icons left">add</i></a>
          <a ng-if="p.tamanho.quantity_flavors > 0" class="waves-effect waves-light btn btn-floating modal-trigger" href="#modal1" ng-click="selecionar_sabor(p)"><i class="material-icons left">add</i></a>
        </div>
      </div>
    </div>

    <div class="col s12 l6">
      <h1>Pedido</h1>
      <div class="row" ng-repeat="p in lista track by $index">
        <br>
        <div class="col s2">
          <img src="" class="responsive-img">
        </div>
        <div class="col s4">
          {{p.sabor.name}} - {{p.tamanho.name}}
          <span ng-repeat="s in p.flavor_orders_attributes track by $index"><li>{{s[$index].sabor.name}}</li></span>
          <input type="text" ng-model="p.note" placeholder="Observações">
        </div>
        <div class="col s2">
          {{p.quantity}}
        </div>
        <div class="col s2">
          <a class="waves-effect waves-light btn btn-floating red" ng-click="removeItem($index)"><i class="material-icons left">delete</i></a>
        </div>
      </div>
    </div>
  </div>
  <%= link_to @comanda, class: "btn-floating btn-large waves-effect waves-light red" do %>
      <i class="material-icons">close</i>
      <% end %>
  <a class="btn-floating btn-large waves-effect waves-light teal" ng-click="enviar_pedido()"><i class="material-icons">send</i></a>

  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Escolha os sabores</h4>
      <div ng-repeat="sabor in produto_selecionado.flavor_orders_attributes">
        <select name="sabor" class="browser-default select2" ng-model="sabor[$index]"
                ng-options="x as x.sabor.name for x in sabores track by x.id">
        </select>
      </div>
      <br>

        <label>Adicionais</label>
      <div class="row">
        <select style="width: 100%" name="adicional" class="browser-default select2" multiple="multiple" ng-model="produto_selecionado.pedido_extras_attributes"
                ng-options="x as x.sabor.name for x in adicionais track by x.id">
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="insere_produto(produto_selecionado)">Enviar</a>
    </div>
  </div>
</div>

<script type="text/javascript">


    function openModal(){
        $('#modal1').openModal();
    }
</script>