<h1 class="center-align">
  <b>Comanda <%= @comanda.id %></b>
</h1>
<div class="right">
  <a class="btn dropdown-button waves-effect waves-light " href="#!" data-activates="dropdown2">Ações<i class="mdi-navigation-arrow-drop-down right"></i></a>

</div>
<div class="card-panel ">
  <div class="row">
    <div class="col s12 m6">
      <p>
        <strong>Status:</strong>
        <%= @comanda.fechada == true ? "FECHADA" : "ABERTA" %>
      </p>
      <p>
        <strong>Mesa:</strong>
        <%= @comanda.dining_table %>
      </p>

      <p>
        <strong>Cliente:</strong>
        <%= @comanda.client %>
      </p>

      <p>
        <strong>Tipo:</strong>
        <%= @comanda.tipo %>
      </p>
    </div>
    <div class="col s12 m6">
      <p>
        <strong>Entrega:</strong>
        <%= @comanda.entrega == true ? "SIM" : "NÃO" %>
      </p>
      <p>
        <strong>Couvert:</strong>
        <%= number_to_currency(@comanda.couvert_value, unit: "R$ ", separator: ",", delimiter: ".") %>
      </p>
      <p>
        <strong>Quantidade de Pessoas:</strong>
        <%= @comanda.couvert_quantity %>
      </p>
    </div>
  </div>
</div>
<% @comanda.orders.where.not(status: :cancelado).sort_by{|a| a.id}.reverse.each_with_index do |order,index| %>

    <div id="modal_change_order_<%= order.id %>" class="modal">
      <div class="modal-content">
        <h4>Alterar Comanda</h4>
        <p>Pedido <%=  @comanda.orders.size - (index )  %></p>
        <%= form_tag(change_comanda_order_path(order), method: :get) do  %>
            <div class="input">
              <%= label :comanda, "Comanda" %>
              <%= select_tag :comanda, options_for_select(@comandas),{class:"select2 browser-default " }%>

            </div>
            <br>
            <%= submit_tag "Trocar", class:"modal-action modal-close  btn " %>
        <% end %>
      </div>
    </div>
    <div id="modal_cancelar_pedido_<%= order.id %>" class="modal">
      <div class="modal-content">
        <h4>Cancelar Pedido</h4>
        <p>Pedido <%=  @comanda.orders.size - (index )  %></p>
        <%= form_tag(cancelar_order_path(order), method: :get) do  %>
            <div class="input">
              <%= label :cancel_reason_id, "Motivo" %>
              <%= select_tag :cancel_reason_id, options_for_select(@motivos),{class:"select2 browser-default ", style:"width:100%" }%>

            </div>
            <br>
            <%= submit_tag "Cancelar", class:"modal-action modal-close  btn " %>
        <% end %>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
      <span class="card-title"><b>Pedido <%= @comanda.orders.size - (index ) %></b>
        <% if current_user.admin? %>
          <a onclick="change_comanda('modal_change_order_<%= order.id %>');" class="green-text">
            <i class="material-icons">swap_horiz</i>
          </a>
          <a onclick="change_comanda('modal_cancelar_pedido_<%= order.id %>');" class="green-text">
            <i class="material-icons">cancel</i>
          </a>
        <% end %>
      </span>
        <table class="striped">
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Tempo</th>
            <th>Ações</th>
            <th>Usuários</th>
          </tr>
          <% order.product_orders.where.not(status: :cancelado).each do |p| %>
              <% cor = p.status == :em_producao ? "lime accent-4 white-text" : p.status == :pronto ? "blue darken-4 white-text" : p.status == :concluido ? "green darken-4 white-text" : "" %>
              <tr >
                <td class="<%= cor %>">
                  <%= p.flavor_size %>
                  <% p.flavor_orders.each do |s| %>
                      <li><%= s.flavor_size.flavor %></li>
                  <% end %>
                  <br>
                  <% if p.pedido_extras.present? %>
                      <span>Adicionais</span>
                      <% p.pedido_extras.each do |s| %>
                          <li><%= s.extra.flavor_extra %></li>
                      <% end %>
                  <% end %>
                </td>
                <td class="<%= cor %>"><%= p.quantity %></td>
                <td class="<%= cor %>"><%= number_to_currency(p.value, unit: "R$ ", separator: ",", delimiter: ".") %></td>
                <td class="<%= cor %>"><%= p.status %></td>
                <td class="<%= cor %>"><%= p.tempo.present? ? "#{number_with_precision(p.tempo, precision: 0)}m" : "#{number_with_precision((Time.now - p.created_at)/60, precision: 0)}m" %></td>
                <td>
                  <% if current_user.admin? %>
                    <a onclick="change_comanda('modal_change_comanda_<%= p.id %>');" class="green-text">
                      <i class="material-icons">swap_horiz</i>
                    </a>
                    <a onclick="change_comanda('modal_cancelar_item_<%= p.id %>');" class="green-text">
                      <i class="material-icons">cancel</i>
                    </a>
                  <% end %>
                  <a href="/product_orders/<%= p.id %>/concluir" class="green-text">
                    <i class="material-icons">check_box</i>
                  </a>
                </td>
                <td><%= p.user.name.split(" ")[0] if p.user.present? %></td>
              </tr>
              <div id="modal_change_comanda_<%= p.id %>" class="modal">
                <div class="modal-content">
                  <h4>Alterar Comanda</h4>
                  <p><%= p.flavor_size %></p>
                  <%= form_tag(change_comanda_product_order_path(p), method: :get) do  %>
                      <div class="input">
                        <%= label :comanda, "Comanda" %>
                        <%= select_tag :comanda, options_for_select(@comandas),{class:"select2 browser-default " }%>

                      </div>
                      <br>
                      <%= submit_tag "Trocar", class:"modal-action modal-close  btn " %>
                  <% end %>
                </div>
              </div>
              <div id="modal_cancelar_item_<%= p.id %>" class="modal">
                <div class="modal-content">
                  <h4>Cancelar Item</h4>
                  <p><%= p.flavor_size %></p>
                  <%= form_tag(cancelar_product_order_path(p), method: :get) do  %>
                      <div class="input">
                        <%= label :cancel_reason_id, "Motivo" %>
                        <%= select_tag :cancel_reason_id, options_for_select(@motivos),{class:"select2 browser-default ", style:"width:100%" }%>

                      </div>
                      <br>
                      <%= submit_tag "Cancelar", class:"modal-action modal-close  btn " %>
                  <% end %>
                </div>
              </div>
          <% end %>
          <tr>
            <td colspan="6"><b>Total</b></td>
            <td><b><%= number_to_currency(order.product_orders.where.not(status: :cancelado).sum(&:value), unit: "R$ ", separator: ",", delimiter: ".") %></b></td>
          </tr>
        </table>
        <small>Realizado por: <%=  order.user %></small>
      </div>
    </div>
<% end %>
<div class="row">
  <div class="col s12 l3">
    <div class="card gradient-45deg-boamassa gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">restaurant</i>
        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0"><%= number_to_currency(total1 =  @comanda.product_orders.where.not(status: :cancelado).sum(&:value), unit: "", separator: ",", delimiter: ".") %></h5>
          <p class="no-margin">Pedidos</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card gradient-45deg-boamassa gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">music_note</i>
        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0"><%= number_to_currency(total2 = @comanda.couvert_calculado, unit: "", separator: ",", delimiter: ".") %></h5>
          <p class="no-margin">Couvert</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card gradient-45deg-boamassa gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">person</i>
        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0"><%= number_to_currency(total3 = @comanda.tax, unit: "", separator: ",", delimiter: ".") %></h5>
          <p class="no-margin">Serviço</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card gradient-shadow gradient-45deg-boamassa  min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">local_offer</i>
        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0"><a href="#" id="desconto" class="white-text"><%= number_to_currency(@comanda.desconto || 0, unit:"") %></a></h5>
          <p class="no-margin">Desconto</p>
        </div>
      </div>
    </div>
  </div>
  <% total_geral = (total1+total2+total3) - (@comanda.desconto || 0) %>
</div>
<% t_pessoa = (total_geral)/ (@comanda.couvert_quantity || 1) %>
<%= nested_form_for @comanda do |f| %>
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          Pagamentos
         <small class="right">Divisão: <b><%= @comanda.couvert_quantity || 1 %> * <%= number_to_currency( t_pessoa, unit: "R$ ", separator: ",", delimiter: ".") %></b> </small>

        </span>
        <div class="card-action">

        </div>
        <div id="order_payments">
        <%= f.fields_for :order_payments do |pay| %>
            <div class="row card-action">
              <div class="col s4">
                <%= pay.label :payment_type_id, "Tipo" %>
                <%= pay.select :payment_type_id, @payments,{prompt:true}, {class: "browser-default"} %>
              </div>
              <div class="col s2">
                <%= pay.label :value, "Valor R$" %>
                <%= pay.number_field :value, step: :any, class: "payd_value", onchange: "calc_payments()" %>
              </div>
              <div class="col s4">
                <%= pay.label :client_id, "Cliente" %>
                <%= pay.select :client_id, @clients,{prompt:true}, {class: "browser-default select2"} %>
              </div>
              <div class="col s2">
                <%= pay.link_to_remove "Remover", class: "btn-flat green-text" %>
              </div>
            </div>
        <% end %>
      </div>
      </div>
      <div class="card-action">
        <%= f.link_to_add "Novo Pagamento", :order_payments, class:"green-text", data:{target: "#order_payments"} %>
        <%= f.submit "Salvar Pagamentos", class:"btn-flat green-text", target: "_self" %>
      </div>
      <br>
    </div>

<% end if current_user.admin? || current_user.caixa? %>
<div class="row">
  <div class="col s12 l3">
    <div class="card gradient-45deg-boamassa_red gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">list</i>
        </div>
        <div class="col s m5 right-align">
          <h5 class="mb-0">
            <%= number_to_currency(total_geral, unit: "", separator: ",", delimiter: ".") %>
          </h5>
          <p class="no-margin">Total</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 l3">
    <div class="card gradient-45deg-boamassa_red gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">shopping_cart</i>
        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0" id="pago"><%= number_to_currency(@payments_value, unit:"") %></h5>
          <p class="no-margin">Pago</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card gradient-45deg-boamassa_red gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">remove_shopping_cart</i>
        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0" id="a_pagar"><%= number_to_currency(total_geral - @payments_value , unit:"")%></h5>
          <p class="no-margin">Restante</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card gradient-45deg-boamassa_red gradient-shadow min-height-100 white-text">
      <div class="padding-4">
        <div class="col s7 m7">
          <i class="material-icons background-round mt-5">people_outline</i>
        </div>
        <div class="col s5 m5 right-align">
          <h5 class="mb-0"><%= number_to_currency(t_pessoa, unit:"") %></h5>
          <p class="no-margin">Divisão</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="pedido_simples" class="modal">
  <div class="modal-content">
    <h4>Pedido</h4>
    <%= form_tag(pedido_simples_comanda_path(@comanda), method: :get) do  %>
        <div class="input">
          <%= label :flavor_size_id, "Produto" %>
          <%= select_tag :flavor_size_id, options_for_select(@flavors),{required:true, include_blank:true,class: "browser-default select2", style:"width:100%" } %>
        </div>
        <div class="input-field">
          <%= label :quantity, "Quantidade" %>
          <%= text_field_tag :quantity,"" ,{required:true} %>
        </div>
        <br>
        <%= submit_tag "Enviar", id:"btn_pedido", class:"btn " %>
    <% end %>
  </div>
</div>

<div id="modal_couver" class="modal">
  <div class="modal-content">
    <h4>Couvert</h4>
    <%= form_tag(inserir_couvert_comanda_path(@comanda), method: :get) do  %>
        <div class="input">
          <%= label :valor, "Couvert" %>
          <%= number_field_tag :valor,Configuration.find_by_key("couvert").value.gsub(',','.').to_f,{step: :any } %>
        </div>
        <div class="input-field">
          <%= label :quantity, "Quantidade" %>
          <%= text_field_tag :quantity,nil,{required:true} %>
        </div>
        <br>
        <%= submit_tag "Enviar", id:"btn_couvert", class:"btn" %>
    <% end %>
  </div>
</div>

<div id="modal_desconto" class="modal">
  <div class="modal-content">
    <h4>Desconto</h4>
    <%= form_tag(calcular_desconto_comanda_path(@comanda), method: :get) do  %>
        <div class="input">
          <%= label :value, "Desconto" %>
          <%= text_field_tag :value %>
        </div>
        <br>
        <%= submit_tag "Calcular", id:"btn_couvert", class:"btn" %>
    <% end %>
  </div>
</div>

<ul id="dropdown1" class="dropdown-content">
  <%= render :partial => 'links', :locals =>{comanda: @comanda, total1: total1}  %>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <%= render :partial => 'links', :locals =>{comanda: @comanda, total1: total1}  %>
</ul>
<%= content_for :icon_top do %>
    <li>
      <a class="dropdown-button white-text waves-effect waves-block waves-light" href="#!" data-activates="dropdown1" style="width: 150px">Ações <i class="material-icons right">list</i></a>
    </li>
<% end %>
<script type="text/javascript">
    function change_comanda(id)
    {
        console.log(id);
        $("#"+id).openModal();
    }

    $(document).ready(function(){
        $('.select2').select2();
    });

    function calc_payments() {
        var total_value = <%= total_geral %>;
        var payd = 0;
        $(".payd_value").each(function (el) {
            payd += parseFloat($(this).val());
        })
        $("#pago").html(payd.toFixed(2));
        $("#a_pagar").html((total_value - payd).toFixed(2))
    }
</script>


<%= content_for :head do %>
    <script type="text/javascript" charset="utf-8">
        $(document).on('nested:fieldRemoved', function(event){
            var field = event.field;
            var payField = field.find('.payd_value');
            payField.val(0);
            calc_payments();
        });
    </script>
<% end %>
<%= content_for :scripts do %>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.ajaxOptions = {type: "GET"};
        $('#desconto').editable({
            type: 'text',
            pk: 1,
            url: '<%= calcular_desconto_comanda_path(@comanda) %>',
            title: 'Valor do Desconto',
            name: "valor",
            onblur: "cancel",
            showbuttons: false,
            success: function(response, newValue) {
                window.location.reload();
            }
        });
    </script>

<% end %>