<%= nested_form_for @comanda do |f| %>
  <%= f.hidden_field :tipo %>
    <%= f.hidden_field :tax %>
    <%= f.hidden_field :fechada %>
    <%= hidden_field_tag :balcao, value: true %>
    <div class="card">
      <div class="card-content">
        <span class="card-title"><b>Pedido</b></span>
        <div class="input-field">


          <%= f.check_box :entrega %>
          <%= f.label :entrega %>
        </div>
        <br>


        <%= f.fields_for :orders do |s| %>
            <%= s.hidden_field :status, value: "concluido" %>
            <%= s.hidden_field :user_id, value: current_user.id %>
            <div class="card">
              <div class="card-content">
                <span class="card-title"><b>Produtos</b></span>


                <%= s.fields_for :product_orders do |p| %>
                    <div class="row">
                      <div class="col s4">
                        <%= p.label :flavor_size_id, "Produto" %>
                        <%= p.select :flavor_size_id, @flavors,{prompt:true}, {id: "#{p.index}_produto", class: "browser-default select2", onchange:"calcularValor(#{p.index})"} %>
                      </div>
                      <div class="col s2">
                        <%= p.label :quantity, "Quantidade" %>
                        <%= p.number_field :quantity, step: :any, id: "#{p.index}_qtd", onchange:"calcularValor(#{p.index})"%>
                      </div>
                      <div class="col s2">
                        <label for="">Valor</label>
                        <p id="<%= p.index %>_label"></p>

                      </div>

                      <div class="col s2">
                        <%= p.link_to_remove "Remover" %>
                      </div>
                    </div>

                <% end %>
              </div>
              <div class="card-action">
                <p><%= s.link_to_add "Novo Produto", :product_orders %></p>
              </div>

            </div>
        <% end %>
      </div>
      <!--<div class="card-action">
        <p><%#= f.link_to_add "Novo Pedido", :orders %></p>
      </div>-->


      <%= f.submit "Finalizar", class:"btn" %>
    </div>
<% end %>

<%= link_to 'Voltar', caixa_comandas_path, class:"btn" %>

<script type="text/javascript" charset="utf-8">

  function calcularValor(id)
  {
      var sabor = $("#"+id+"_produto").val();
      if(sabor)
      {
          var valor;
          $.get("/flavor_sizes/"+sabor+".json", function(data){
              valor = data.value * $("#"+id+"_qtd").val();
              $("#"+id+"_label").html("R$ "+valor);
          });


      }

  }
</script>