<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">
    <%= f.collection_select :comanda_id, Comanda.all, :id, :name, prompt: true  %>
    
  </div>

  <div class="input-field">

    <%= f.label :status %>
    <%= f.text_field :status %>
    
  </div>

  <div class="input-field">

    <%= f.label :delivery_time %>
    <%= f.time_select :delivery_time %>
    
  </div>

  <div class="input-field">

    <%= f.label :delivery_duration %>
    <%= f.time_select :delivery_duration %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
