<h1 class="center-align"><b>Pedidos</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Comanda</th>
            <th>Status</th>
            <th>Delivery time</th>
            <th>Delivery duration</th>
          </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
              
          <td><%= link_to order.comanda,order %></td>
        
              

          <td><%= order.status %></td>
        
              

          <td><%= order.delivery_time %></td>
        
              

          <td><%= order.delivery_duration %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@orders)  %>
</div>

<%= link_to '+ Cadastrar', new_order_path, class:"btn" %>
