   CANTINA BOAMASSA
   <%= @area %>

   Pedido: #<%= @order.id %>
   Mesa: <%= @order.comanda.dining_table %>
   Entrega: <%= @order.comanda.entrega ? "Sim" : "Nao" %>
   Hora: <%= Time.zone.now %>
   Usuario: <%= @order.user %>

<% @product_orders.each_with_index do |po, i| %>
   ==== PRODUTO <%= i + 1 %> ====
   => <%= "#{po.flavor_size}" %>
   => Quantidade: <%= po.quantity %>
    <% po.flavor_orders.each do |s| %>
       * - <%= s.flavor_size.flavor %>
    <% end %>

    <% if po.pedido_extras.present?  %>
   => Adicionais
        <% po.pedido_extras.each do |s| %>
       * - <%= s.extra.flavor_extra %>
        <% end %>

    <% end %>
    <% if po.note.present?  %>
   => Observações
   <%= po.note %>

    <% end %>
   ====================

<% end %>
   Pedido envolve as seguintes areas:
   <%= @order.product_orders.group_by{|a| a.flavor_size.product.area}.map{|a, list| "#{a} (#{list.count})"}.to_sentence %>






   .