<style>
  .fulljustify {
    text-align: justify;
  }
  .fulljustify:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

</style>
<h3>Cantina Boamassa</h3>
<hr>
<h4 style="margin: 0">Pedido: #<%= @order.id %> - <%= @area %></h4>
<h4 style="margin: 0">Mesa: <%= @order.comanda.dining_table %></h4>
<h4 style="margin: 0">Entrega: <%= @order.comanda.entrega ? "Sim" : "Não" %></h4>
<h4 style="margin: 0">Usuario: <%= @order.user %></h4>
<hr>

<% @product_orders.each_with_index do |po, i| %>
    ==== Produto <%= i + 1 %> ==== <br>
    => Quantidade: <%= po.quantity %> <br>
    => <%= "#{po.flavor_size}" %> <br>
    <% po.flavor_orders.each do |s| %>
        <span style="padding-left: 15px">
          * - <%= s.flavor_size.flavor %> <br>
        </span>
    <% end %>
    <br>
    <% if po.pedido_extras.present?  %>
        => Adicionais
        <br>
        <% po.pedido_extras.each do |s| %>
            <span style="padding-left: 15px">
            * - <%= s.extra.flavor_extra %> <br>
          </span>
        <% end %>
        <br>
    <% end %>
    <% if po.note.present?  %>
        => Observações
        <br>
        <%= po.note %>
    <% end %>
    <hr>
<% end %>
Pedido envolve as seguintes áreas:
<%= @order.product_orders.group_by{|a| a.flavor_size.product.area}.map{|a, list| "#{a} (#{list.count})"}.to_sentence %>