<div class="card-panel">
	
<p>
  <strong>Comanda:</strong>
  <%= @order.comanda %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @order.delivery_time %>
</p>

<p>
  <strong>Delivery duration:</strong>
  <%= @order.delivery_duration %>
</p>

</div>
<%= link_to 'Voltar', orders_path, class:"btn" %>
