<div class="card-panel">
	
<p>
  <strong>Name:</strong>
  <%= @subgroup.name %>
</p>

<p>
  <strong>Product group:</strong>
  <%= @subgroup.product_group %>
</p>

</div>
<%= link_to 'Voltar', subgroups_path, class:"btn" %>
