<div class="card-panel">
	
<p>
  <strong>Entrance:</strong>
  <%= @ingredient_entrace.entrance %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @ingredient_entrace.ingredient %>
</p>

<p>
  <strong>Value:</strong>
  <%= @ingredient_entrace.value %>
</p>

</div>
<%= link_to 'Voltar', ingredient_entraces_path, class:"btn" %>
