<div class="card">  
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
  </thead>

  <tbody>
    <% @configurations.each do |configuration| %>
    <tr>
              
          <td><%= link_to configuration.key,configuration %></td>
        
              

          <td><%= configuration.value %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@configurations)  %>
</div>

<%= link_to '+ Cadastrar', new_configuration_path, class:"btn" %>
