<div class="card-panel center">
  <h4 class="header2">Você precisa selecionar uma mesa</h4>
  <p>
    Antes de fazer essa ação, feche essa página e utilize a Tag que está na mesa para indicar aonde você está.
    Se vc possuir NFC basta colocar seu celular em cima da Tag da mesa.
  </p>
</div>
