<div ng-controller="pedidoController" ng-init="comanda = <%= @comanda.id %>">
  <div ng-init="access_token = '<%= params[:access_token] %>'"></div>
  <div class="card-panel" style="overflow: visible">
    <div class="row">
      <div class="field">
        <label for="categorias">Categoria</label>
        <select name="categorias" ng-change="change_categoria(categoria_selecionada)"
                ng-options="x as x.name for x in categorias track by x.subgroups"
                class="browser-default select2" ng-model="categoria_selecionada">

        </select>
      </div>
      <div class="field">
        <label for="sub-categorias">Sub-Categoria</label>
        <select name="sub-categorias" ng-change="busca_produtos()"  class="browser-default select2" ng-model="subcategoria_selecionada"
                ng-options="x as x.name for x in subcategorias track by x.id">
        </select>
      </div>
    </div>
  </div>


  <br>
  <div class="row">

    <div class="col s12 l6">
      <h1>Produtos</h1>
      <div ng-show="produtos.length == 0" class="card-panel">
        Escolha uma Categoria Acima
      </div>
      <div ng-repeat="p in produtos">
        <div class="card">
          <div class="card-image">
            <div ng-if="p.produto.photo != null">
              <img src="{{p.produto.photo.url}}">
            </div>

            <a ng-if="p.tamanho.quantity_flavors <= 0"  ng-click="insere_produto(p)" class="btn-floating waves-effect waves-light darken-2 right red">
              <i class="material-icons">add</i>
            </a>
            <a ng-if="p.tamanho.quantity_flavors > 0"  href="#modal1" ng-click="selecionar_sabor(p)" class="btn-floating waves-effect waves-light darken-2 right red">
              <i class="material-icons">add</i>
            </a>
          </div>
          <div class="card-content">
            <h4 class="header2">
              {{p.sabor.name}} - {{p.tamanho.name}}
            </h4>
            <h4 class="header2">
              R$: {{p.valor_do_dia}}
            </h4>
          </div>
        </div>

      </div>
    </div>

    <div class="col s12 l6">
      <h1>Pedido</h1>
      <div ng-repeat="p in lista track by $index">
        <div class="card-panel">
          <div class="row">
            <div class="col s10">
              {{p.sabor.name}} - {{p.tamanho.name}}
              <span ng-repeat="s in p.flavor_orders_attributes track by $index"><li>{{s[$index].sabor.name}}</li></span>
              <input type="text" ng-model="p.note" placeholder="Observações">
            </div>
            <div class="col s2">
              {{p.quantity}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="btn-floating btn-large waves-effect waves-light red" ng-click="enviar_pedido()"><i class="material-icons">send</i></a>

  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Escolha os sabores</h4>
      <div ng-repeat="sabor in produto_selecionado.flavor_orders_attributes">
        <select name="sabor" class="browser-default select2" ng-model="sabor[$index]"
                ng-options="x as x.sabor.name for x in sabores track by x.id">
        </select>
      </div>
      <br>

      <label>Adicionais</label>
      <div class="row">
        <select style="width: 100%" name="adicional" class="browser-default select2" multiple="multiple" ng-model="produto_selecionado.pedido_extras_attributes"
                ng-options="x as x.sabor.name for x in adicionais track by x.id">
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="insere_produto(produto_selecionado)">Enviar</a>
    </div>
  </div>
</div>


<script type="text/javascript">
    function openModal(){
        $('#modal1').openModal();
    }
</script>

