<%= nested_form_for(product_group) do |f| %>
  <% if product_group.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% product_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :name %>
    <%= f.text_field :name %>
    
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Sub-grupos</span>


    <%= f.fields_for :subgroups do |s| %>
          <div class="row">
            <div class="input-field col s10">
              <%= s.label :name, "Nome" %>
              <%= s.text_field :name %>

            </div>
            <div class="col s2">
              <%= s.link_to_remove "Remover" %>
            </div>
          </div>
    <% end %>
    </div>
    <div class="card-action">
      <p><%= f.link_to_add "Novo Subgrupo", :subgroups %></p>
    </div>

  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn",target:"_self" %>
  </div>
<% end %>
