<h1 class="center-align"><b>Grupos</b></h1>

<%= link_to '+ Cadastrar', new_product_group_path, class:"btn",target:"_self" %>
<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Name</th>
          </tr>
  </thead>

  <tbody>
    <% @product_groups.each do |product_group| %>
    <tr>
              
          <td><%= link_to product_group.name,product_group %></td>
          <td><%= link_to 'Excluir', product_group, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@product_groups)  %>
</div>

<%= link_to '+ Cadastrar', new_product_group_path, class:"btn",target:"_self" %>
