<h1 class="center-align"><b>Grupo</b></h1>
<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @product_group.name %>
</p>

  <div class="card">
    <div class="card-content">
      <span class="card-title"><b>Categorias</b></span>
      <table>
        <tr>
          <th>Nome</th>
        </tr>
        <% @product_group.subgroups.each do |t| %>
            <tr>
              <td><%= t %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>
<%= link_to 'Voltar', product_groups_path, class:"btn",target:"_self" %>
