<h1 class="center-align"><b>Motivos de cancelamento</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ Cadastrar', new_cancel_reason_path, class:"btn", target: "_self" %>
<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Nome</th>
          </tr>
  </thead>

  <tbody>
    <% @cancel_reasons.each do |cancel_reason| %>
    <tr>
              
          <td><%= link_to cancel_reason.name,cancel_reason %></td>
          <td><%= link_to 'Excluir', cancel_reason, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@cancel_reasons)  %>
</div>

<%= link_to '+ Cadastrar', new_cancel_reason_path, class:"btn", target: "_self" %>
