<%= form_for(area) do |f| %>
  <% if area.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
    
  </div>

  <div class="">

    <%= f.label :printer, "Impressora" %>
    <%= f.select :printer, PrintApi.printers_to_select, {include_blank: true} %>

  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
    <%= link_to "Voltar", areas_path, class:"btn",target:"_self" %>
  </div>
<% end %>
