<div id="table_pedidos">
<% products.each do |o, list| %>
      <div class="card-panel table-background">
        <h4 class="header2">Pedido: #<%= o.id %> | Mesa: <%= o.comanda.dining_table %> </h4>
        <table class="striped white" >
          <thead>
          <th>Produto</th>
          <th>Observações</th>
          <th>Quantidade</th>
          <th>Ações</th>
          </thead>
          <tbody>
            <% list.each do |p| %>
              <tr>
                <td>
                  <%= "#{p.flavor_size}" %>

                  <% p.flavor_orders.each do |s| %>
                      <li style="padding-left: 10px"><%= s.flavor_size.flavor %></li>
                  <% end %>
                  <span>Adicionais</span>
                  <% p.pedido_extras.each do |s| %>
                      <li style="padding-left: 10px"><%= s.extra.flavor %></li>
                  <% end %>

                </td>
                <td><%= p.note %></td>
                <td><%= p.quantity %></td>
                <td>
                  <%= link_to "Produção", atualiza_pedido_product_orders_path(produto: p,status: "em_producao",area: area), class:"btn lime accent-4" %>
                  <%= link_to "Pronto", atualiza_pedido_product_orders_path(produto: p,status: "pronto",area: area), class:"btn blue darken-4" %>
                  <%= link_to "Concluído",atualiza_pedido_product_orders_path(produto: p,status: "concluido",area: area), class:"btn green darken-4 " %>
                  <%= link_to "Cancelado",atualiza_pedido_product_orders_path(produto: p,status: "cancelado",area: area), class:"btn red accent-4" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
<% end %>
</div>
<script type="text/javascript">
  setTimeout(function(){$.get("/areas/<%= @area.id %>?format=js");},5000);
</script>