<h1 class="center-align"><b>Áreas da Cozinha</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%= f.text_field :name_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ Cadastrar', new_area_path, class:"btn", target: "_self" %>
<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Nome</th>
  </tr>
  </thead>

  <tbody>
  <% @areas.each do |area| %>
      <tr>

        <td><%= link_to area.name,area %></td>
        <td><%= link_to 'Excluir', area, method: :delete, data: { confirm: 'Pode haver Produtos relacionados a Área, deseja realmente excluir?' } %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@areas)  %>
</div>

<%= link_to '+ Cadastrar', new_area_path, class:"btn", target: "_self" %>
