<h1 class="center-align"><b><%= @area.name %></b></h1>

<%= render partial:"tabela-pedidos", locals:{products: @products, area: @area} %>

<%= link_to 'Voltar', areas_path, class:"btn", target: "_self" %>