<div class="card">  
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Discount</th>
            <th>Promotion</th>
            <th>Flavor size</th>
          </tr>
  </thead>

  <tbody>
    <% @promotion_flavor_sizes.each do |promotion_flavor_size| %>
    <tr>
              
          <td><%= link_to promotion_flavor_size.discount,promotion_flavor_size %></td>
        
              

          <td><%= promotion_flavor_size.promotion %></td>
        
              

          <td><%= promotion_flavor_size.flavor_size %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@promotion_flavor_sizes)  %>
</div>

<%= link_to '+ Cadastrar', new_promotion_flavor_size_path, class:"btn" %>
