<div class="card-panel">
	
<p>
  <strong>Discount:</strong>
  <%= @promotion_flavor_size.discount %>
</p>

<p>
  <strong>Promotion:</strong>
  <%= @promotion_flavor_size.promotion %>
</p>

<p>
  <strong>Flavor size:</strong>
  <%= @promotion_flavor_size.flavor_size %>
</p>

</div>
<%= link_to 'Voltar', promotion_flavor_sizes_path, class:"btn" %>
