<h1 class="center-align"><b>Forma de Pagamento</b></h1>
<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @payment_type.name %>
</p>

</div>
<%= link_to 'Voltar', payment_types_path, class:"btn",target:"_self" %>
