<%= content_for :firebase do %>
    <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase-firestore.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (!Notification) {
                alert('Desktop notifications not available in your browser. Try Chromium.');
                return;
            }

            if (Notification.permission !== "granted")
                Notification.requestPermission();
        });

        // Initialize Firebase
        // TODO: Replace with your project's customized code snippet
        var config = {
            apiKey: "AIzaSyDTlZA5hz7eJWHReaIbvfw3AprMP_dBH3g",
            authDomain: "https://beacons-185521.firebaseio.com",
            projectId: "beacons-185521"
        };


        firebase.initializeApp(config);
        firebase.auth().signInWithCustomToken("<%= @token %>");
    </script>
<% end %>
<% content_for(:body_tag) do %>
    data-turbolinks="false"
<% end %>
<div ng-controller="GarconChamadasController">
  <div class="row" >
    <div class="col s4">
      <a href="/garcon/chamadas">
        <div class="card-panel teal white-text">
          Chamados ( {{requests.length}} )
        </div>
      </a>
    </div>

    <div class="col s4">
      <a href="/">
        <div class="card-panel teal white-text">
          Mesas
        </div>
      </a>
    </div>


    <div class="col s4">
      <a href="/">
        <div class="card-panel teal white-text">
          Quem está aqui?
        </div>
      </a>
    </div>

  </div>
</div>