<div ng-controller="GarconChamadasController">
  <%= render :partial => '/garcon/top_icons' %>
  <div ng-repeat="request in requests || async">
    <div class="card-panel">
      <div class="right">{{request.data.title}}</div>
      <h4 class="header2">{{request.data.name}} ({{request.data.location}})</h4>
      <div class="btn" ng-click="atender(request.id)">Atender</div>
    </div>
  </div>
</div>