/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

body{
    /*font-family: 'Kavivanar', cursive;*/
}

header .brand-logo img {
    width: auto !important;
}

.btn {
    background-color: #009688  ;
    height: auto;
}

.btn:hover, .btn-large:hover {
    background-color: #03b7a6 ;
}

.page-footer{
    clear: both;
    position: fixed;
    z-index: 10;
    margin-top: -3em;
    width: 100%;
    bottom: 0px;
}

#content{
    padding-bottom: 100px;
}
th{
    padding:15px 5px !important;
}

.hidden{
    visibility: hidden;
}

.not-show{
    display: none;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    #main{
        padding-left: 0px !important;
    }
    header .brand-logo img{
        width: 152px !important;
        height: auto !important;
    }

    .on-print{
        display: block !important;
    }
}

.on-print{
    display: none;
}

@media only screen and (min-width: 600px) {
    header .brand-logo img{
        height: 45px;
    }
    .w-important{
        width: 100% !important;
    }

    .panel-map{
        top: 0px; left:10px;  width: 40%; position: absolute
    }

    .valign-wrapper-desktop {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    header .brand-logo img{
        height: 40px;
    }

    .center-small{
        text-align: center;
    }

    .panel-map{
        top: 0px; left:10px;  width: calc(100% - 10px); position: absolute
    }

    .hide-filter{
        display: none;
    }

}

ul.side-nav.leftside-navigation li.user-details {
    background: url(/bgclean.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: hidden; */
    margin-bottom: 15px;
    padding: 15px 0px 0px 15px;
}

.geometric{
    background: url(/geometric.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: hidden; */
}

.geometric-white{
    /* background: url(/geometric.gif) no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: hidden; */
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    padding: 12px 12px;
}
input:focus {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.input-field label.active {
    font-size: 0.8rem;
    -webkit-transform: translate(-10px, -180%);
    -moz-transform: translate(-10px, -180%);
    -ms-transform: translate(-10px, -180%);
    -o-transform: translate(-10px, -180%);
    transform: translate(-10px, -180%);
    margin-bottom: 5px;
}

body{
    background-color: #eee;
}

.price-panel{
    border-radius: 0px 50px 50px 0px;
    padding: 20px 20px 20px 0px;
}

.price-panel .btn{
    border-radius: 0px 10px 10px 0px;
}

.small-padding{
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}

.no-shadow{
    box-shadow: none;
}

.side-dotted{
    /* border-right: dotted; */
    border-right: dotted;
    border-color: #9e9e9e;
    border-width: 1px;
}

.plan-detail-card{
    /* border-right: dotted; */
    border-top: dotted;
    border-color: #9e9e9e;
    border-width: 1px;
    padding: 15px;
}

.slim-panel{
    padding: 10px !important;
}

.price-text{
    font-weight: 100;
    font-size: 2.5rem;
}

.text-slim{
    font-weight: 100;
}

.plan-detail p {
    display: block;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 300 !important;
}

.center-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient-45deg-green-teal.gradient-shadow {
    box-shadow: 0 6px 20px 0 rgba(77, 182, 172, 0.5);
}

.gradient-45deg-green-teal {
    background: #43A047;
    background: -webkit-linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
    background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
}
.gradient-45deg-boamassa {
    background: #004d40;
    background: -webkit-linear-gradient(45deg, #004d40 0%, #43A047 100%);
    background: linear-gradient(45deg, #004d40 0%, #43A047 100%);
}

.gradient-45deg-light-blue-cyan {
    background: #0288d1;
    background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
}

.gradient-45deg-red-pink {
    background: #FF5252;
    background: -webkit-linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
    background: linear-gradient(45deg, #FF5252 0%, #f48fb1 100%);
}

.gradient-45deg-amber-amber {
    background: #ff6f00;
    background: -webkit-linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
    background: linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
}

.gradient-45deg-boamassa_red {
    background: #9e1718;
    background: -webkit-linear-gradient(45deg, #9e1718 0%, #e13136 100%);
    background: linear-gradient(45deg, #9e1718 0%, #e13136 100%);
}

.min-height-100 {
    min-height: 100px !important;
}

.background-round {
    background-color: rgba(0, 0, 0, 0.18);
    padding: 15px;
    border-radius: 50%;
}

.padding-4 {
    padding: 4% !important;
}

.mb-0 {
    margin-bottom: 0% !important;
}
.no-margin {
    margin: 0% !important;
}

.table-background{
    background: url(/white-bg.jpg) no-repeat center center
}