<%= nested_form_for(entrance) do |f| %>
  <% if entrance.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% entrance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">

  <div class="input">
    <%= f.label :provider_id, "Fornecedor" %>
    <%= f.select :provider_id, @providers, {prompt:true},{class:"browser-default chosen-select"}  %>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Produtos de Entrada</span>


      <%= f.fields_for :ingredient_entraces do |s| %>
          <div class="row" >
            <div class="input col s6">
              <%= s.label :ingredient_id, "Ingrediente" %>
              <%= s.select :ingredient_id, @ingredients, {prompt:true},{class:"browser-default select2"}  %>
            </div>
            <div class="input-field col s2">
              <%= s.label :quantity, "Quantidade" %>
              <%= s.text_field :quantity %>

            </div>
            <div class="input-field col s2">
              <%= s.label :value, "Valor" %>
              <%= s.number_field :value, step: :any %>

            </div>
            <div class="col s2">
              <%= s.link_to_remove "Remover" %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="card-action">
      <p><%= f.link_to_add "Novo Produto", :ingredient_entraces %></p>
    </div>

  </div>
  
</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn",target:"_self" %>
    <%= link_to "Voltar", entrances_path, class:"btn",target:"_self" %>
  </div>
<% end %>
