<h1 class="center-align"><b>Notas de Entrada</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%= f.text_field :provider_name_or_provider_inscricao_cont, placeholder: "Fornecedor" %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ Cadastrar', new_entrance_path, class:"btn", target: "_self" %>
<table class="card striped responsive-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Fonecedor</th>
      <th>Data</th>
    </tr>
  </thead>

  <tbody>
    <% @entrances.each do |entrance| %>
    <tr>
      <td><%= link_to entrance.id, entrance %></td>
      <td><%= entrance.provider %></td>
      <td><%= entrance.created_at %></td>
      <td><%= link_to 'Excluir', entrance, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@entrances)  %>
</div>

<%= link_to '+ Cadastrar', new_entrance_path, class:"btn", target: "_self" %>
