<h1 class="center-align"><b>Entrada</b></h1>
<div class="card-panel">
  <p>
    <strong>Fornecedor:</strong>
    <%= link_to @entrance.provider, @entrance.provider %>
  </p>
  <p>
    <strong>Data:</strong>
    <%= @entrance.created_at %>
  </p>

  <div class="card">
    <div class="card-content">
      <span class="card-title"><b>Produtos de Entrada</b>
      </span>
      <table>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Valor</th>
        </tr>
        <% @entrance.ingredient_entraces.each do |i| %>
          <tr>
            <td><%= i.ingredient %></td>
            <td><%= i.quantity %></td>
            <td><%= number_to_currency(i.value, unit: "R$ ", separator: ",", delimiter: ".") %></td>
          </tr>
        <% end %>

      </table>
    </div>
  </div>
</div>
<%= link_to 'Voltar', entrances_path, class:"btn",target:"_self" %>
