<%= nested_form_for(promotion) do |f| %>
  <% if promotion.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% promotion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
    
  </div>

  <div class="input">

    <%= f.label :start_at, "Início" %>
    <%= f.datetime_field :start_at %>
    
  </div>

  <div class="input">

    <%= f.label :end_at, "Termino" %>
    <%= f.datetime_field :end_at%>
    <%#= f.text_field :end_at,class:"datepicker" %>
    
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Grupos</span>
      <%= f.fields_for :promotion_groups do |fo| %>
          <div class="row">
            <div class="col s6">
              <%= fo.label :subgroup_id, "Grupo" %>
              <%= fo.select :subgroup_id, @groups,{prompt:true}, {class: "browser-default select2"} %>
            </div>
            <div class="col s2">
              <%= fo.label :discount, "Desconto %" %>
              <%= fo.text_field :discount %>
            </div>
            <div class="col s2">
              <%= fo.link_to_remove "Remover" %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="card-action">
      <p><%= f.link_to_add "Novo Grupo", :promotion_groups %></p>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Produtos</span>
      <%= f.fields_for :promotion_flavor_sizes do |fo| %>
          <div class="row">
            <div class="col s6">
                <%= fo.label :flavor_size_id, "Produto" %>
                <%= fo.select :flavor_size_id, @flavors,{prompt:true}, {class: "browser-default select2"} %>
            </div>
            <div class="col s4">
              <%= fo.label :discount, "Desconto %" %>
              <%= fo.text_field :discount %>
            </div>
            <div class="col s2">
              <%= fo.link_to_remove "Remover" %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="card-action">
      <p><%= f.link_to_add "Novo Produto", :promotion_flavor_sizes %></p>
    </div>
  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn",target:"_self" %>
    <%= link_to "Voltar", promotions_path, class:"btn", target: "_self" %>
  </div>
<% end %>
