<h1 class="center-align"><b>Promoção</b></h1>
<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>Início:</strong>
  <%= @promotion.start_at %>
</p>

<p>
  <strong>Término:</strong>
  <%= @promotion.end_at %>
</p>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Produtos</span>
      <table>
        <tr>
          <th>Produto</th>
          <th>Desconto %</th>
        </tr>
        <% @promotion.promotion_flavor_sizes.each do |e| %>
            <tr>
              <td><%= e.flavor_size %></td>
              <td><%= e.discount %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>
<%= link_to 'Voltar', promotions_path, class:"btn",target:"_self" %>
