<%= form_for(extra) do |f| %>
  <% if extra.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% extra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">
    <%= f.collection_select :product_size_id, ProductSize.all, :id, :name, prompt: true  %>
    
  </div>

  <div class="input-field">
    <%= f.collection_select :flavor_id, Flavor.all, :id, :name, prompt: true  %>
    
  </div>

  <div class="input-field">

    <%= f.label :value %>
    <%= f.text_field :value %>
    
  </div>

  <div class="input-field">

    <%= f.label :active %>
    <%= f.check_box :active %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
