<div class="card">  
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Product size</th>
            <th>Flavor</th>
            <th>Value</th>
            <th>Active</th>
          </tr>
  </thead>

  <tbody>
    <% @extras.each do |extra| %>
    <tr>
              
          <td><%= link_to extra.product_size,extra %></td>
        
              

          <td><%= extra.flavor %></td>
        
              

          <td><%= extra.value %></td>
        
              

          <td><%= extra.active %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@extras)  %>
</div>

<%= link_to '+ Cadastrar', new_extra_path, class:"btn" %>
