<div class="card-panel">
	
<p>
  <strong>Product size:</strong>
  <%= @extra.product_size %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @extra.flavor %>
</p>

<p>
  <strong>Value:</strong>
  <%= @extra.value %>
</p>

<p>
  <strong>Active:</strong>
  <%= @extra.active %>
</p>

</div>
<%= link_to 'Voltar', extras_path, class:"btn" %>
