<%= nested_form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">

    <%= f.label :name,"Nome" %>
    <%= f.text_field :name %>
    
  </div>

  <div class="input-field">

    <%= f.label :description,"Descrição" %>
    <%= f.text_field :description %>
    
  </div>

  <div class="input">

    <%= f.label :photo, "Imagem" %>
    <%= f.file_field :photo %>
    
  </div>
  <br>
  <div class="input">
    <%= f.label :subgroup_id, "Categoria" %>
    <%= f.select :subgroup_id, @groups,{ prompt: true},{class:"browser-default chosen-select"}  %>
    
  </div>

  <div class="input">
    <%= f.label :area_id, "Área Cozinha" %>
    <%= f.select :area_id, @areas,{prompt: true},{class:"browser-default chosen-select"}  %>
    
  </div>

  <div class="input">

    <%= f.label :calculo %>
    <%= f.select :calculo, @calculos,{prompt: true},{class:"browser-default chosen-select"}  %>
    
  </div>

  <div class="input-field">


    <%= f.check_box :active %>
    <%= f.label :active, "Ativo?" %>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Tamanhos</span>


      <%= f.fields_for :product_sizes do |s| %>
          <div class="row card-panel">
            <div class="row">
              <div class="input-field col 6">
                <%= s.label :name, "Nome" %>
                <%= s.text_field :name %>
              </div>
              <!--<div class="input-field col 6">
                <%#= s.label :description, "Descrição" %>
                <%#= s.text_field :description %>
              </div>-->

              <div class="input-field col s2">
                <%= s.label :quantity_flavors, "Qtd Sabores" %>
                <%= s.text_field :quantity_flavors %>
              </div>
              <!--<div class="input-field col s2">
                <%#= s.label :value, "Valor" %>
                <%#= s.text_field :value %>
              </div> -->
              <div class="input-field col s2">
                <%= s.check_box :active, {checked: true}%>
                <%= s.label :active, "Ativo?" %>
              </div>
              <div class="col s2">
                <%= s.link_to_remove "Remover" %>
              </div>
            </div>
            <!--SABORES -->
            <div class="card">
              <div class="card-content">
                <span class="card-title">Produtos de Saída</span>


                <%= s.fields_for :flavors do |a| %>

                      <div class="row">
                        <!--<div class="input-field col s6">
                          <%#= a.label :flavor_id, "Sabor" %>
                          <%#= a.select :flavor_id, @flavors,{prompt: true},{class:"browser-default select2"}  %>
                        </div> -->
                        <div class="input-field col s4">
                          <%= a.label :name, "Nome" %>
                          <%= a.text_field :name%>
                        </div>
                        <div class="input-field col s2">
                          <%= a.label :value, "Valor" %>
                          <%= a.number_field :value, step: :any %>
                        </div>
                        <div class="input-field col s2">
                          <%= a.check_box :active, {checked: true} %>
                          <%= a.label :active, "Ativo?" %>
                        </div>
                        <div class="input-field col s2">
                          <%= a.check_box :visible, {checked: true} %>
                          <%= a.label :visible, "Visível no Pedido?" %>
                        </div>

                        <div class="col s2">
                          <%= a.link_to_remove "Remover" %>
                        </div>
                      </div>

                <% end %>
              </div>
              <div class="card-action">
                <p><%= s.link_to_add "Novo Produto de Saída", :flavors %></p>
              </div>
            </div>
            <!--SABORES -->
            <div class="card">
              <div class="card-content">
                <span class="card-title">Adicionais</span>


                <%= s.fields_for :flavor_extras do |a| %>
                    <div class="row">
                      <!--<div class="input-field col s6">
                        <%#= a.label :flavor_id, "Sabor" %>
                        <%#= a.select :flavor_id, @flavors,{prompt: true},{class:"browser-default select2"}  %>
                      </div>-->
                      <div class="input-field col s4">
                        <%= a.label :name, "Nome" %>
                        <%= a.text_field :name%>
                      </div>
                      <div class="input-field col s2">
                        <%= a.label :value, "Valor" %>
                        <%= a.number_field :value, step: :any %>
                      </div>
                      <div class="input-field col s2">
                        <%= a.check_box :active, {checked: true} %>
                        <%= a.label :active, "Ativo?" %>
                      </div>
                      <div class="col s2">
                        <%= a.link_to_remove "Remover" %>
                      </div>
                    </div>
                    <hr>
                <% end %>
              </div>
              <div class="card-action">
                <p><%= s.link_to_add "Novo Adicional", :flavor_extras %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <br>
    <div class="card-action">

      <p><%= f.link_to_add "Novo Tamanho", :product_sizes %></p>
    </div>

  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn",target:"_self" %>
    <%= link_to "Voltar", products_path, class:"btn", target: "_self" %>
  </div>
<% end %>
