<h1 class="center-align"><b>Categorias</b></h1>
<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%= f.text_field :name_or_description_or_area_name_or_subgroup_name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to '+ Cadastrar', new_product_path, class:"btn", target: "_self" %>
<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Categoria</th>
    <th>Área</th>
    <th>Cálculo</th>
    <th>Ativo</th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name,product %></td>
        <td><%= product.description %></td>
        <td><%= product.subgroup %></td>
        <td><%= product.area %></td>
        <td><%= product.calculo %></td>
        <td><%= product.active == true ? "SIM" : "NÃO" %></td>
        <td><%= link_to 'Excluir', product, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@products)  %>
</div>

<%= link_to '+ Cadastrar', new_product_path, class:"btn", target: "_self" %>
