<h1 class="center-align"><b>Categoria</b></h1>
<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @product.photo %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @product.subgroup %>
</p>

<p>
  <strong>Area:</strong>
  <%= @product.area %>
</p>

<p>
  <strong>Cálculo:</strong>
  <%= @product.calculo %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @product.active == true ? "SIM" : "NÃO" %>
</p>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Produtos de Saída</span>
      <table>
        <th>Nome</th>
        <th>Tamanho</th>
        <th>Produto</th>
        <th>Valor</th>
        <th>Ativo</th>
        <th>Composição</th>
        <% @product.flavors.each do |f| %>
          <tr>
            <td><%= f.name %></td>
            <td><%= f.flavor_size.product_size %></td>
            <td><%= f.flavor_size.product_size.quantity_flavors %></td>
            <td><%= f.flavor_size.value %></td>
            <td><%= f.flavor_size.active? ? "SIM" : "NÃO" %></td>
            <td><%= link_to "Composição", f, target: "_self" %></td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Adicionais</span>
      <table>
        <th>Nome</th>
        <th>Tamanho</th>
        <th>Valor</th>
        <th>Ativo</th>
        <th>Composição</th>
        <% @product.extras.each do |f| %>
            <tr>
              <td><%= f.flavor_extra %></td>
              <td><%= f.product_size %></td>
              <td><%= f.flavor_extra.value %></td>
              <td><%= f.flavor_extra.active? ? "SIM" : "NÃO" %></td>
              <td><%= link_to "Composição", f.flavor_extra, target: "_self" %></td>
            </tr>
        <% end %>
      </table>

    </div>
  </div>

</div>
<%= link_to 'Voltar', products_path, class:"btn",target:"_self" %>

