<div class="card-panel">
	
<p>
  <strong>Product order:</strong>
  <%= @flavor_order.product_order %>
</p>

<p>
  <strong>Flavor size:</strong>
  <%= @flavor_order.flavor_size %>
</p>

</div>
<%= link_to 'Voltar', flavor_orders_path, class:"btn" %>
