<%= form_for(pedido_extra) do |f| %>
  <% if pedido_extra.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5>Resolva os problemas a seguir antes de Salvar:</h5>

      <ul>
      <% pedido_extra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-panel">
  
  <div class="input-field">
    <%= f.collection_select :product_order_id, ProductOrder.all, :id, :name, prompt: true  %>
    
  </div>

  <div class="input-field">
    <%= f.collection_select :extra_id, Extra.all, :id, :name, prompt: true  %>
    
  </div>

  <div class="input-field">

    <%= f.label :value %>
    <%= f.text_field :value %>
    
  </div>

</div>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn" %>
  </div>
<% end %>
