<div class="card">  
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Product order</th>
            <th>Extra</th>
            <th>Value</th>
          </tr>
  </thead>

  <tbody>
    <% @pedido_extras.each do |pedido_extra| %>
    <tr>
              
          <td><%= link_to pedido_extra.product_order,pedido_extra %></td>
        
              

          <td><%= pedido_extra.extra %></td>
        
              

          <td><%= pedido_extra.value %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@pedido_extras)  %>
</div>

<%= link_to '+ Cadastrar', new_pedido_extra_path, class:"btn" %>
