<div class="card-panel">
	
<p>
  <strong>Product order:</strong>
  <%= @pedido_extra.product_order %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @pedido_extra.extra %>
</p>

<p>
  <strong>Value:</strong>
  <%= @pedido_extra.value %>
</p>

</div>
<%= link_to 'Voltar', pedido_extras_path, class:"btn" %>
