<h1 class="center-align"><b>Unidade de Medida</b></h1>
<div class="card-panel">
	
<p>
  <strong>Nome:</strong>
  <%= @measure.name %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @measure.sigla %>
</p>

</div>
<%= link_to 'Voltar', measures_path, class:"btn",target:"_self" %>
