<div class="card">  
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
      <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
      <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
    <tr>
            <th>Ingredient</th>
            <th>Flavor</th>
          </tr>
  </thead>

  <tbody>
    <% @ingredient_flavors.each do |ingredient_flavor| %>
    <tr>
              
          <td><%= link_to ingredient_flavor.ingredient,ingredient_flavor %></td>
        
              

          <td><%= ingredient_flavor.flavor %></td>
        
          </tr>
    <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@ingredient_flavors)  %>
</div>

<%= link_to '+ Cadastrar', new_ingredient_flavor_path, class:"btn" %>
