<div class="card-panel">
	
<p>
  <strong>Ingredient:</strong>
  <%= @ingredient_flavor.ingredient %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @ingredient_flavor.flavor %>
</p>

</div>
<%= link_to 'Voltar', ingredient_flavors_path, class:"btn" %>
