<aside id="left-sidebar-nav" class="no-print">
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <% if user_signed_in? %>

        <li class="user-details red darken-4">
          <div class="row">
            <div class="col col s4 m4 l4">
              <img src="/images/user.png" alt="" class="circle responsive-img valign profile-image">
            </div>
            <div class="col col s8 m8 l8">
              <ul id="profile-dropdown" class="dropdown-content">
                <li><a href="<%= destroy_user_session_path  %>" data-method="delete"><i class="mdi-hardware-keyboard-tab"></i> Sair</a>
                </li>
              </ul>
              <a class="btn-flat dropdown-button waves-effect waves-light profile-btn white-text" href="#" data-activates="profile-dropdown"><%= current_user.name %><i class="mdi-navigation-arrow-drop-down right"></i></a>
              <p class="user-roal"><%#= current_user.role.titleize %></p>
            </div>
          </div>
        </li>

        <li class="bold">
          <a href="/" class="waves-effect waves-cyan" target="_self">
            <i class="fa fa-home"></i> Início
          </a>
        </li>
        <% if current_user.admin? || current_user.caixa? %>
        <li class="bold">
          <a href="/comandas/caixa" class="waves-effect waves-cyan" target="_self">
            <i class="fa fa-money"></i> Caixa
          </a>
        </li>
        <% end %>
        <% if current_user.admin? %>
          <li class="bold">
            <a href="/comandas/dashboard?dia=true" class="waves-effect waves-cyan" target="_self">
              <i class="fa fa-dashboard"></i> Dashboard
            </a>
          </li>
        <% end %>
        <li class="bold">
          <a href="/comandas/simples" class="waves-effect waves-cyan" target="_self">
            <i class="fa fa-plus"></i> Venda Balcão
          </a>
        </li>
        <% if current_user.admin? %>
        <li class="bold">
          <a href="/comandas" class="waves-effect waves-cyan" target="_self">
            <i class="fa fa-file"></i> Comandas
          </a>
        </li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header"><i class="fa fa-reorder"></i> Cadastros</a>
              <div class="collapsible-body">
                <ul>
                  <li class="bold">
                    <a href="/clients" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-user-plus"></i> Clientes
                    </a>
                  </li>
                  <li class="bold">
                    <a href="/dining_tables" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-cutlery"></i> Mesas
                    </a>
                  </li>
                  <li class="bold">
                    <a href="/product_groups" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-flag"></i> Grupos
                    </a>
                  </li>
                  <li class="bold">
                    <a href="/products" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-product-hunt"></i> Categorias
                    </a>
                  </li>
                  <li class="bold">
                    <a href="/ingredients" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-list"></i> Produtos de Entrada
                    </a>
                  </li>
                  <li class="bold">
                    <a href="/flavors" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-list"></i> Produtos de Saída
                    </a>
                  </li>
                  <li class="bold">
                    <a href="/promotions" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-money"></i> Promoções
                    </a>
                  </li>


                  <!--<li class="bold">
                    <a href="/couverts" class="waves-effect waves-cyan">
                      <i class="fa fa-music"></i> Couvert
                    </a>
                  </li>-->
                  <li class="bold">
                    <a href="/employees" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-list"></i> Funcionários
                    </a>
                  </li>
                  <li class="bold">
                    <a href="/providers" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-list"></i> Fornecedores
                    </a>
                  </li>

                  <li class="bold">
                    <a href="/entrances" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-list"></i> Notas de Entrada
                    </a>
                  </li>

                  <li class="bold">
                    <a href="/measures" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-list"></i> Unidades de Medida
                    </a>
                  </li>
                  <li class="bold">
                    <a href="/payment_types" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-list"></i> Tipo de Pagamento
                    </a>
                  </li>
                  <li class="bold">
                    <a href="/cancel_reasons" class="waves-effect waves-cyan" target="_self">
                      <i class="fa fa-list"></i> Motivos de Cancelamento
                    </a>
                  </li>
                </ul>
              </div>
            </li>

          </ul>
        </li>
        <% if current_user.admin? || current_user.producao? %>
            <li class="bold">
              <a href="/areas" class="waves-effect waves-cyan" target="_self">
                <i class="fa fa-beer"></i> Áreas de Impressão
              </a>
            </li>
        <% end %>
        <li class="bold">
          <a href="/users" class="waves-effect waves-cyan" target="_self">
            <i class="fa fa-group"></i> Usuários
          </a>
        </li>
        <li class="bold">
          <a href="/app_configurations" class="waves-effect waves-cyan" target="_self">
            <i class="fa fa-cog"></i> Configurações
          </a>
        </li>
        <% end %>
    <% end %>

  </ul>
  <% if user_signed_in? %>
      <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only teal"><i class="mdi-navigation-menu"></i></a>
  <% end %>
</aside>