<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="apple-touch-icon" href="/icon/apple-icon.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png?v=2">
  <link rel="icon" type="image/png" sizes="512x512" href="/icon/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png?v=2">
  <link rel="manifest" href="/icon/manifest.json?v=2">
  <meta name="msapplication-TileColor" content="#880e4f">
  <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png?v=2">
  <meta name="theme-color" content="#ffc107">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Junte seus pontos">
  <meta name="keywords" content="programa de pontos, fidelidade, ">
  <title>Cantina Boamassa</title>
  <link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/idletimer/dist/idle-timer.min.js"></script>


  <!-- CORE CSS-->
  <link href="/materialize/dist/css/materialize.css" type="text/css" rel="stylesheet" >
  <link href="/materialize/dist/css/style.css" type="text/css" rel="stylesheet" >
  <!-- Custome CSS-->
  <link href="/materialize/dist/css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">


  <link href="/fontello/css/fontello.css" type="text/css" rel="stylesheet" >
  <link href="/fontello/css/fontello-codes.css" type="text/css" rel="stylesheet" >

  <link rel="stylesheet" href="/jquery_calendar/css/eventCalendar.css">

  <!-- Theme CSS file: it makes eventCalendar nicer -->
  <link rel="stylesheet" href="/jquery_calendar/css/eventCalendar_theme_responsive.css">
  <%= yield :firebase %>
  <!--Angular -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.6.2/angular-animate.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.6.2/angular-sanitize.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-messages.min.js"></script>
  <script src="/js/angular-viacep.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-hotkeys/1.7.0/hotkeys.js"></script>
  <script type="text/javascript" src="/js/simple-web-notification/web-notification.js"></script>
  <script type="text/javascript" src="/js/angular-web-notification/angular-web-notification.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js"></script>

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="/materialize/dist/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/materialize/dist/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" >
  <link href="/materialize/dist/js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" >
  <!--<link href="/materialize/dist/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" >-->

  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/font-awesome/css/emoticon-awesome.css">
  <link href="/materialize/dist/js/plugins/fullcalendar/css/fullcalendar.min.css" type="text/css" rel="stylesheet" >
  <link href="/easy-pie/assets/lib/css/jquery.easy-pie-chart.css" type="text/css" rel="stylesheet" >
  <link href="/datetime/jquery.datetimepicker.min.css" type="text/css" rel="stylesheet" >
  <!-- Core CSS File. The CSS code needed to make eventCalendar works -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />



  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= yield :important_script  %>

  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.10/sweetalert2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.10/sweetalert2.min.css">
  <link rel="stylesheet" href="/chosen/chosen.min.css">
  <script type="text/javascript">

      $(document).on("wheel", "input[type=number]", function (e) {
          $(this).blur();
      });

      $(function() {
          // Set idle time
          //$( document ).idleTimer( 5000 );
          //clearInterval(intervalo_area);
      });

    function toggle_sidebar() {
      var sidebar = $('#left-sidebar-nav');
      var main = $('#main');
      if (sidebar.is(":visible")) {
        sidebar.hide();
        main.css("padding-left","0px");
      }else{
        sidebar.show();
        main.css("padding-left","240px");
      };

    }

  </script>
  <style type="text/css">


    .chosen-single{
      background: none !important;
      background-color: rgba(255, 255, 255, 0.9) !important;
      width: 100% !important;
      padding: 5px !important;
      border: 1px solid #f2f2f2 !important;
      border-radius: 2px !important;
      height: 3rem !important;
      font-size: 14px !important;
    }
    .chosen-drop{
      border: 1px solid #f2f2f2 !important;
      border-radius: 2px !important;
    }
    .chosen-search{
      width: 95%
    }

    .esconder {
      padding:10px;
      background: none;
    }

    .esconder {
      -moz-transition: all linear 1s;
      -webkit-transition: all linear 1s;
      -o-transition: all linear 1s;
      transition: all linear 1s;
    }

    .esconder.ng-hide {
      opacity: 0;
    }

    .esconder.ng-show {
      opacity: 1;
    }

    .repetir-lista {
      border: 1px solid black;
      padding: 10px;
      margin-bottom: 5px;
    }

    /* ng-enter ng-enter-active ng-leave ng-move */

    .repetir-lista.ng-enter {
      -moz-transition: 2s linear all;
      -webkit-transition: 2s linear all;
      -o-transition: 2s linear all;
      transition: 2s linear all;
      opacity: 0;
      background:green;
    }

    .repetir-lista.ng-enter-active {
      opacity: 1;
      background:white;
    }
      @media print{
        .hide_print{
          display:none;
        }
      }
  </style>
  <script type="text/javascript">
    $(document).on('nested:fieldAdded', function(event){
      // this field was just inserted into your form
      var field = event.field;
      // it's a jQuery object already! Now you can find date input
      var dateField = field.find('.datetimepicker');
      var chosenField = field.find('.chosen-select');
      // and activate datepicker on it
      dateField.datetimepicker();
      chosenField.chosen();
      $('select').material_select();
      $('.select2').select2();
    });

  </script>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
  <%= yield :head  %>



</head>

<body <%= yield :body_tag %> ng-app="app">

<!-- Start Page Loading -->
<!--div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div -->
<!-- End Page Loading -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START HEADER -->
<%= render 'layouts/topbar' if params[:appframe].blank? %>
<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START MAIN -->
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">

    <!-- START LEFT SIDEBAR NAV-->
        <%= render 'layouts/left_sidebar'  if params[:appframe].blank?%>
    <!-- END LEFT SIDEBAR NAV-->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START CONTENT -->
    <section id="content">
      <!--start container-->
      <div class="container">
        <%= yield  %>
      </div>
    </section>
    <!-- END CONTENT -->
    <%  if params[:appframe].blank? and params[:action] == "show" %>
      <div class="fixed-action-btn hide-on-med-and-up no-print" style="bottom: 45px; right: 24px;">
        <%= link_to "#{current_uri = request.env['PATH_INFO']}/edit", class:"btn-floating btn-large green" do  %>
            <i class="mdi-image-edit white-text"></i>
        <% end %>
      </div>
    <% end %>

    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START RIGHT SIDEBAR NAV-->
    <%= render 'layouts/right_sidebar' %>>
    <!-- LEFT RIGHT SIDEBAR NAV-->

  </div>
  <!-- END WRAPPER -->

</div>
<!-- END MAIN -->




<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START FOOTER -->
<%  if params[:appframe].blank? %>
<footer class="page-footer teal darken-4">
  <div class="footer-copyright">
    <div class="container center">
      Copyright © <%= Date.today.year %> | <a class="white-text" href="/" target="_blank">Cantina Boamassa</a> desenvolvido por
      <a class="white-text" href="http://novostek.com" target="_blank">Novostek LLC</a>
    </div>
  </div>
</footer>
<% end %>
<!-- END FOOTER -->

</body>
<!-- ================================================
Scripts
==========================r====================== -->

<!-- jQuery Library -->
<!--materialize js-->

<script type="text/javascript" src="/materialize/dist/js/materialize.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="/materialize/dist/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--prism-->
<script type="text/javascript" src="/materialize/dist/js/plugins/prism/prism.js"></script>

<!-- chartist
<script type="text/javascript" src="/materialize/dist/js/plugins/chartist-js/chartist.min.js"></script>
-->
<!-- masonry -->
<script src="/materialize/dist/js/plugins/masonry.pkgd.min.js"></script>
<!-- imagesloaded -->
<script src="/materialize/dist/js/plugins/imagesloaded.pkgd.min.js"></script>


<!-- chartjs -->
<script type="text/javascript" src="/materialize/dist/js/plugins/chartjs/chart.min.js"></script>

<!-- sparkline -->
<script type="text/javascript" src="/materialize/dist/js/plugins/sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="/materialize/dist/js/plugins/sparkline/sparkline-script.js"></script>

<!-- google map api -->
<script async defer type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places,drawing&key=AIzaSyDMUpi9klfsed7huZAVkkPp-U8S_9SUwao"></script>


<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="/materialize/dist/js/plugins.js"></script>
<script type="text/javascript" src="/chosen/chosen.jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
<script src="/imagefill/js/jquery-imagefill.js"></script>
<script src="/datetime/jquery.datetimepicker.full.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<!-- Toast Notification -->
<% if flash[:notice].present? %>
    <script type="text/javascript">
      $(window).on('load',function() {
        setTimeout(function() {
          Materialize.toast('<span><%= flash[:notice] %></span>', 3000);
        }, 1500);
      });
    </script>
<% end %>

<% if flash[:alert].present? %>
    <script type="text/javascript">
      $(window).on('load',function() {
        setTimeout(function() {
          Materialize.toast('<span class="red-text"><%= flash[:alert] %></span>', 3000);
        }, 1500);
      });
    </script>
<% end %>
<script type="text/javascript">
  $(".chosen-select").chosen();
  $(document).ready(function()
  {
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
          $('.select2').select2({
              minimumResultsForSearch: Infinity
          });
      }
      else
      {
          $('.select2').select2();
      }

  });

</script>
<!--End of Tawk.to Script-->
<script type="text/javascript">
  $('.image-fill').imagefill();
</script>
<script type="text/javascript" src="/materialize/dist/js/plugins/fullcalendar/lib/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="/materialize/dist/js/plugins/fullcalendar/lib/moment.min.js"></script>
<script type="text/javascript" src="/materialize/dist/js/plugins/fullcalendar/js/fullcalendar.min.js"></script>
<script type="text/javascript" src="/materialize/dist/js/plugins/fullcalendar/js/lang-all.js"></script>
<script src="/jquery_calendar/js/moment.js" type="text/javascript"></script>
<script src="/jquery_calendar/js/jquery.eventCalendar.min.js" type="text/javascript"></script>

<script>tinymce.init({
  selector:'.html-editor',
  plugins: "image imagetools autolink link",
});</script>

<%= yield :scripts  %>
<%= yield :charts_js %>
</html>